<!DOCTYPE html>
<html>
  <head>
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/tools.css') }}" rel="stylesheet" type="text/css" />
    <script src="{{ asset('js/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/bootstrap.js') }}" type="text/javascript"></script>

    <title>CRT RSO - Boite à outils</title>
    <meta charset="utf-8">
  </head>
  <body>
    {% block contenu %}
    {% endblock %}
  </body>
</html>
