<div ng-if="!recommendations_list" class="col-md-6">
  <button ng-click="requestRecommendations(directory, [])" class="btn btn-primary" style="width: 100%; margin-bottom: 1.5em;">Obtenir des recommandations</button>
</div>
<div ng-if="recommendations_list" class="col-md-6">
  <button ng-click="requestRecommendations(directory, [])" class="btn btn-primary" style="width: 100%;" >Actualiser mes recommandations</button>
</div><div class="col-md-6">
  <button class="btn btn-primary" style="width: 100%; margin-bottom: 1.5em;" data-toggle="modal" data-target="#profileModal" ng-click="requestProfile(directory)">Visualiser mon profil</button>
</div>
<div ng-if="recommendations_list" class="col-md-12 table-responsive" style="max-height: 250px; overflow-y: auto; margin-bottom: 1.5em;">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>
          <span>Exercices</span>
        </th>
        <th>Notions associées</th>
        <th style="text-align: right;" ng-if="is_teacher">Objectif</th>
        <th style="text-align: right;" ng-if="is_teacher">Pertinence</th>
      </tr>
    </thead>
    <tbody ng-repeat="recommendations in recommendations_list">
      <tr>
        <td colspan="4">Recommandations pour renforcer <b>{{recommendations.objectiveNode}}</b></td>
      </tr>
      <tr ng-repeat="recommendation in recommendations.recommendation">
        <td style="padding-left: 30px; border-top: none">
          <svg ng-if="recommendation.learning_type === 'text'" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-text" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z"/>
              <path fill-rule="evenodd" d="M4.5 10.5A.5.5 0 0 1 5 10h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 8h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 4h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"/>
          </svg>
          <svg ng-if="recommendation.learning_type === 'video'" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-play" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z"/>
              <path d="M6 10.117V5.883a.5.5 0 0 1 .757-.429l3.528 2.117a.5.5 0 0 1 0 .858l-3.528 2.117a.5.5 0 0 1-.757-.43z"/>
          </svg>
          <a ng-click="sendRecommendationStatement(directory.id, recommendation.location, recommendation.title)" 
             href="{{recommendation.location}}">{{recommendation.title}}</a>
          <span ng-if="!recommendation.has_attempts" class="text-success" style="float: right;">nouveau !</span>
        </td>
        <td style="border-top: none">{{recommendation.node}}</td>
        <td style="border-top: none" ng-if="is_teacher">{{recommendation.tag}}</td>
        <td style="border-top: none; text-align: right;" ng-if="is_teacher">{{recommendation.weight}}</td>
      </tr>
    </tbody>
  </table>
</div>