<!--<style>
  .olm-loader,
  .olm-loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
  }
  .olm-loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(66,139,202, 0.2);
    border-right: 1.1em solid rgba(66,139,202, 0.2);
    border-bottom: 1.1em solid rgba(66,139,202, 0.2);
    border-left: 1.1em solid #428bca;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: olm-load 1.1s infinite linear;
    animation: olm-load 1.1s infinite linear;
  }
  @-webkit-keyframes olm-load {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes olm-load {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

</style>

<div class="modal-dialog"  style="width: 80vw;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">Mon profil {{directory.name}}</h4>
      <h5>Dernière mise à jour le {{framework['computedAt']['date']}}</h5>
    </div>
    <div class="modal-body" style="height: 60vh;">
      <div id="olm-target-loader" class="hidden">
        <div class='olm-loader'></div>
        <p>
          Chargement du profil. 
          Cette opération peut prendre plusieurs secondes, notamment lors de l'initialisation du profil...
        </p>
      </div>
      <div>
      <div class="left"><h4>Niveaux de maîtrise :</h4></div>
      <div class="left" id="olm-colors" style="width:75%; height: 30px;"></div>
      </div>
      <div id="olm-target" style="position: relative; height: 100%; width: 100%;"></div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      <button ng-click="requestProfile(directory)" type="button" class="btn btn-primary">Calculer mon profil</button>
      <select id="olm-options" data-directory-id="{{directory.id}}" class="hidden" onchange="ChangeOLMVisu(this)">
        <option value="0" selected>Arborescent</option>
        <option value="1">Stalactite </option>
        <option value="2">Bulles     </option>
        <option value="3">Sunburst   </option>
      </select>
    </div>
  </div>
</div>
<script>

  function ChangeOLMVisu(elem, directory){
    let value = parseInt(elem.value);
    let directoryId = elem.dataset.directoryId;
    let fw_tree = document._OLM.currentTree;
    let config = {
      "fontHoverColor":  "rgba(0, 0, 0, 1)",
      "fontColor":       "rgba(0, 0, 0, .85)",
      "backgroundColor": "rgba(255, 255, 255, .95)"

    };
    let OLM = document._OLM;
    document.getElementById('olm-target').innerHTML = '';
    let action = '';
    switch(value){
      case 0:
          let treeIndented = new OLM.TreeIndented(document.getElementById('olm-target'), fw_tree, config);
          treeIndented.onClick = (node) => {}
          treeIndented.onMouseEnter = (node) => {}
          treeIndented.draw(svgId = 'olm-target-indented');
          action = 'change to treeIndented';
          break;
        case 1:
          let treePartition = new OLM.TreePartition(document.getElementById('olm-target'), fw_tree, config);
          treePartition.onMouseOver = (node) => {}
          treePartition.draw(svgId = 'olm-target-partition');
          action = 'change to treePartition';
          break;
        case 2:
          let treePack = new OLM.TreePack(document.getElementById('olm-target'), fw_tree, config);
          console.log(treePack.viewBoxWidth+' : '+treePack.viewBoxHeight);
          treePack.onMouseOver = (node) => {}
          treePack.draw(svgId = 'olm-target-pack');
          action = 'change to treePack';
          break;
        case 3:
          let treeSunburst = new OLM.TreeSunburst(document.getElementById('olm-target'), fw_tree, config);
          treeSunburst.onMouseOver = (node) => {}
          treeSunburst.draw(svgId = 'olm-target-sunburst');
          action = 'change to treeSunburst';
          break;
    }
    $.ajax({
      //url:     "/app_dev.php/api/profile/trace/"+directoryId+'/'+action,
      url:     "/api/profile/trace/"+directoryId+'/'+action,
      type:    "POST",
      async:   true,
      success: function(data, textStatus){}
    });
  }
</script>
-->