<style>
    a.link-no-style{
        all: unset;
    }

    /* Tooltip container */
    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
        opacity: 100 !important;
        font-size: 14px !important;
    }

    .tooltip .tooltiptext {
        width: 150px;
        bottom: 100%;
        left: 50%;
        margin-left: -75px; /* Use half of the width (120/2 = 60), to center the tooltip */
    }

    .tooltip:hover{
        cursor: help;
    }

    /* Tooltip text */
    .tooltiptext {
        visibility: hidden;
        width: 250px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;

        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
    }
</style>
<div style="float:right; cursor: pointer" ng-click="removeObjective(objective)">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-trash" viewBox="0 0 16 16">
        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
    </svg>
</div>
<div><b>Compétence</b> : {{objective[0]}} <span id="objective:{{objective[0]}}" ng-bind="addMastery(objective[0])"></span></div>
<div class="tooltip"><b>Intention pédagogique</b> : {{objective[1]}}
    <svg style="width: 16px; height:16px;">
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"></path>
    </svg>
    <span class="tooltiptext">
        <span ng-if="objective[1] == 'Pre_requis'">pour vérifier que j’ai tous les pré-requis avant d’aborder une compétence</span>
        <span ng-if="objective[1] == 'Decouverte'">pour découvrir une nouvelle compétence</span>
        <span ng-if="objective[1] == 'Soutien'">pour me remettre à niveau sur une compétence que je ne maîtrise pas bien
</span>
        <span ng-if="objective[1] == 'Perfectionnement'">pour approfondir une compétence que je maîtrise bien
</span>
        <span ng-if="objective[1] == 'Revision'">pour réviser une compétence que j’ai déjà travaillée</span>
        <span ng-if="objective[1] == '' || objective[1] == null">Pas d'intention pédagogique spécifiée</span>
    </span>
</div>