<style>
    .btn-close {
        float: right;
        margin-top: -2em;
        margin-right: -2em;
        font-size: 7pt;
    }

    /* Tooltip container */
    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
        opacity: 100 !important;
        font-size: 14px !important;
        z-index: auto;
    }

    .tooltip .tooltiptext .right {
        top: -5px;
        left: 105%;
    }

    .tooltip:hover{
        cursor: help;
    }

    /* Tooltip text */
    .tooltiptext {
        visibility: hidden;
        width: 250px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;

        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 9999;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

    .modal {
        display: none;
        position: fixed;
        padding-top: 50px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-body{
        overflow-y: inherit;
    }

    .modal-content {
         position: relative;
         background-color: white;
         padding: 20px;
         margin: auto;
         width: 75%;
         -webkit-animation-name: animatetop;
         -webkit-animation-duration: 0.4s;
         animation-name: animatetop;
         animation-duration: 0.4s
     }
</style>
    <div id="selection-intention" class="modal">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="display: hidden;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="float:left;">Sélection d'une intention pédagogique</h5>
                <button type="button" class="btn btn-danger btn-close" data-bs-dismiss="modal" aria-label="Close" ng-click="freeAddIntention()">x</button>
            </div>
            <div class="modal-body">
                <p>
                    Quelle intention pédagogique souhaitez vous utiliser pour la configuration des recommandations :
                </p>
                <div class="input-group mb-3">
                    <div id="list-button-intentions" class="input-group-prepend">

                        <div class="tooltip"><button id="button-Pre_requis" class="btn btn-outline-primary" type="button" ng-click="selectIntention('Pre_requis')">Pré-requis</button>
                            <span class="tooltiptext right">pour vérifier que j’ai tous les pré-requis avant d’aborder une compétence</span></div>
                        <div class="tooltip"><button id="button-Decouverte" class="btn btn-outline-primary" type="button" ng-click="selectIntention('Decouverte')">Découverte</button>
                            <span class="tooltiptext right">pour découvrir une nouvelle compétence</span></div>
                        <div class="tooltip"><button id="button-Soutien" class="btn btn-outline-primary" type="button" ng-click="selectIntention('Soutien')">Soutien</button>
                            <span class="tooltiptext right">pour me remettre à niveau sur une compétence que je ne maîtrise pas bien</span></div>
                        <div class="tooltip"><button id="button-Perfectionnement" class="btn btn-outline-primary" type="button" ng-click="selectIntention('Perfectionnement')">Perfectionnement</button>
                            <span class="tooltiptext right">pour approfondir une compétence que je maîtrise bien</span></div>
                        <div class="tooltip"><button id="button-Revision" class="btn btn-outline-primary" type="button" ng-click="selectIntention('Revision')">Révision</button>
                            <span class="tooltiptext right">pour réviser une compétence que j’ai déjà travaillée</span></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="addIntention(selectedNode,currentIntention)">Ajouter l'objectif</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" ng-click="freeAddIntention()">Annuler</button>
            </div>
        </div>
            </div>
</div>