<div data-ng-controller="attemptController">

    <div class="panel">
        <div class="panel-heading">
            <h4>{{ exercise.title }}</h4>
        </div>
        <div class="panel-body">
            <div>
                <strong>Consigne</strong> : {{ exercise.content.wording }}
            </div>
        </div>
        <div class="panel-body row" ng-if="exercise.content.documents.length > 0">
            <div class="col-xs-2"><strong>Annexes</strong></div>
            <div class="col-xs-10">
                <div ng-repeat="doc in exercise.content.documents track by $index"
                     class="exercise-doc">
                    <div ng-if="doc.object_type == 'text'">
                        <div ng-bind-html="to_trusted(doc.text)"></div>
                    </div>
                    <div ng-if="doc.object_type == 'picture'">
                        <a href="{{ imageUrl }}{{ doc.source }}"
                           data-lightbox="doc" data-title="Document annexe">
                            <img ng-src="{{ imageUrl }}{{ doc.source }}" style="height: 100px"/>
                        </a>
                    </div>
                    <div ng-if="doc.object_type == 'document'">
                        <button type="button" data-ng-click="seeDocument(doc)">Voir document</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div ui-view>
            </div>
        </div>
    </div>

</div>
