<div class="panel-body" data-ng-controller="newController">
    <!--
    <accordion>
        <accordion-group class="panel panel-primary">
            <accordion-heading class="panel panel-primary panel-heading">
                <div class="row">
                    <div class="col-xs-12">
                        <h4>Mes nouveaux exercices</h4>
                    </div>
                </div>
            </accordion-heading>
        </accordion-group>
    </accordion>
    -->
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-12">
            <h4>Mes nouveaux exercices</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-primary" ng-repeat="new in news track by $index">
      <div class="panel-heading">
        <div class="row">
          <div class="panel-heading">
            <div class="col-xs-1" ng-switch="new.modelType">
                <div ng-switch-when="multiple-choice">
                    <span title="QCM" class="glyphicon glyphicon-check" style="font-size: 260%"></span>
                </div>
                <div ng-switch-when="open-ended-question">
                    <span class="glyphicon glyphicon-question-sign" style="font-size: 260%"></span>
                </div>
                <div ng-switch-when="pair-items">
                    <span title="Exercice d'appariement" title="Exercice d'appariement" class="glyphicon glyphicon-random" style="font-size: 260%"></span>
                </div>
                <div ng-switch-when="order-items">
                    <span title="Exercice d'ordonnancement" class="glyphicon glyphicon-sort" style="font-size: 260%"></span>
                </div>
                <div ng-switch-when="group-items">
                    <span title="Exercice de groupement" class="glyphicon glyphicon-link" style="font-size: 260%"></span>
                </div>
            </div>
            <div class="col-xs-7">
                <h4>{{ new.modelTitle }}</h4>
            </div>
            <div class="col-xs-3">
                <h4>{{new.firstName}}.{{new.lastName}}</h4>
            </div>
            <div class="col-xs-1">
              <h4>
                <span ng-if="new.modelComplete"
                   class="glyphicon glyphicon-repeat"
                   ng-click="$event.stopPropagation();tryModel(new.modelId)"
                   style="cursor:pointer;"
                   title="Nouvelle tentative pour ce modèle">
                </span>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
