<div data-ng-controller="orderItemsController">
  <div class="row">
    <div nf-if="help != null"><strong>Aide :</strong> {{ help }}</div>
  </div>
  <div class="row" ng-if="!item.corrected">
    <div class="col-xs-4">
      <b>Votre réponse:</b>
      <div id='toSortable' class="etiquette txt-etiquette etiquette-empty"
      title="Déposer vos réponses ici">
        <div ng-if="item.content.objects[item.content.give_first].object_type == 'text'" order="{{item.content.give_first}}" id="drag-{{item.content.give_first}}" class=" draggable etiquette txt-etiquette">
          <div ng-bind-html="to_trusted(item.content.objects[item.content.give_first].text)"></div>
        </div>
        <div ng-if="drop.object_type == 'picture'">
          <a href="{{ imageUrl }}{{drop.source }}" data-lightbox="imageMobile" data-title="Partie mobile">
            <img ng-src="{{ imageUrl }}{{ drop.source }}" class="etiquette img-etiquette"/>
          </a>
        </div>
        <div ng-if="item.content.objects[item.content.give_last].object_type == 'text'" order="{{item.content.give_last}}" id="drag-{{item.content.give_last}}" class=" draggable etiquette txt-etiquette">
          <div ng-bind-html="to_trusted(item.content.objects[item.content.give_last].text)"></div>
        </div>
        <div ng-if="drop.object_type == 'picture'">
          <a href="{{ imageUrl }}{{drop.source }}" data-lightbox="imageMobile" data-title="Partie mobile">
            <img ng-src="{{ imageUrl }}{{ drop.source }}" class="etiquette img-etiquette"/>
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <b>Objets à votre disposition:</b>
      <div id="fromSortable" class="object-list">
        <div ng-repeat="mobileObject in item.content.objects track by $index">
          <div ng-if="$index !== item.content.give_first &&  $index !== item.content.give_last">
            <div ng-if="mobileObject.object_type == 'text'" order="{{$index}}" id="drag-{{$index}}" class=" draggable etiquette txt-etiquette">
              <div ng-bind-html="to_trusted(mobileObject.text)"></div>
            </div>
            <div ng-if="mobileObject.object_type == 'picture'">
              <a href="{{ imageUrl }}{{ mobileObject.source }}" data-lightbox="imageMobile" data-title="Partie mobile">
                <img ng-src="{{ imageUrl }}{{ mobileObject.source }}" class="etiquette img-etiquette"/>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" ng-if="item.corrected">
    <div class="col-xs-4">
      <b>Votre réponse:</b>
      <div ng-repeat="key in item.content.answers track by $index" class="row">
        <div ng-if="item.content.objects[key].object_type == 'text'" class="etiquette txt-etiquette"
        data-ng-class="{
          'etiquette-right' : key == item.content.solutions[$index],
          'etiquette-wrong' : key != item.content.solutions[$index]}">
          <div ng-bind-html="to_trusted(item.content.objects[key].text)"></div>
        </div>
        <div ng-if="item.content.objects[key].object_type == 'picture'">
          <a href="{{ imageUrl }}{{ item.content.objects[key].source }}" data-lightbox="imageMobile" data-title="Objet">
            <img ng-src="{{ imageUrl }}{{ item.content.objects[key].source }}" class="etiquette img-etiquette"/>
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-8" ng-if="!item['content'].solutions.includes('false')">
      <b>Solution:</b>
      <div ng-repeat="object in solution track by $index" class="row">
        <div class="col-xs-6">
          <div ng-if="object.object.object_type == 'text'" class="etiquette txt-etiquette">
            <div ng-bind-html="to_trusted(object.object.text)"></div>
          </div>
          <div ng-if="object.object.object_type == 'picture'">
            <a href="{{ imageUrl }}{{ object.object.source }}" data-lightbox="imageMobile" data-title="Objet">
              <img ng-src="{{ imageUrl }}{{ object.object.source }}" class="etiquette img-etiquette"/>
            </a>
          </div>
        </div>
        <div class="col-xs-6" ng-if="item.content.values.length > 0">
          <div class="etiquette txt-etiquette">
            <div>
              <p>{{ object.value }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div ng-hide="!item.corrected">
      <strong>Votre score :</strong> {{ item.content.mark | number:0 }}%
    </div>
  </div>
  <ng-include src="navBarUrl"></ng-include>

    <script>
        $(function () {
            var window_height = $(window).height(),
                content_height = window_height - 190; // 484

            $('.fixPanel').height(content_height);
        });

        $(window).resize(function () {
            var window_height = $(window).height(),
                content_height = window_height - 190;
            $('.fixPanel').height(content_height);
        });
    </script>

</div>
