<div data-ng-controller="learnerController">
  <div class="panel-body" data-ng-controller="directoryModelListController">
      <div ng-if="directory.framework_id != null && directory.framework_id != ''">
          <ul class="nav nav-tabs">
              <li id="li-activities" role="presentation" class="li-tab active"><a ng-click="_selectTab('activities')">Exercices</a></li>
              <li id="li-management" role="presentation" class="li-tab"><a ng-click="_selectTab('management')">Compétences et recommandations </a></li>
          </ul>
      </div>

      <div id="activities" class="tab" ng-include="BASE_CONFIG.urls.partials.learner+'/partial-directory-activities.html?v='+buildVersion" class="row"> </div>
      <div id="management" class="tab d-none" ng-include="BASE_CONFIG.urls.partials.learner+'/partial-directory-activity-management.html?v='+buildVersion" class="row" style="display: flex; height: 75vh;"> </div>
  </div>
</div>
