<div style="float:left; flex:0.45; display:flex; margin-right: 2em;">
    <style>

        .collapsible:after {
            content: '\2227';
            margin-right: 0.5em;
            float:right;
        }

        .collapsible.active:after {
            content: "\2228";
            margin-right: 0.5em;
            float:right;
        }
        .collapsible{
            cursor: pointer;
            height:3em;
        }


        .pr-2{
            padding-right: 0.5em;
        }

        .mr-2{
            margin-right: 0.5em !important;
        }

        .ml-2{
            margin-left: 0.5em !important;
        }

        .flex-justified{
            display: flex;
        }

        .mb-2{
            margin-bottom: 0.5em;
        }

        .flex-49 {
            width: 49%;
        }
        body {
            padding-bottom: 0px !important;
        }

        .olm-loader,
        .olm-loader:after {
            border-radius: 50%;
            width: 10em;
            height: 10em;
        }
        .olm-loader {
            margin: 60px auto;
            font-size: 10px;
            position: relative;
            text-indent: -9999em;
            border-top: 1.1em solid rgba(66,139,202, 0.2);
            border-right: 1.1em solid rgba(66,139,202, 0.2);
            border-bottom: 1.1em solid rgba(66,139,202, 0.2);
            border-left: 1.1em solid #428bca;
            -webkit-transform: translateZ(0);
            -ms-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-animation: olm-load 1.1s infinite linear;
            animation: olm-load 1.1s infinite linear;
        }
        @-webkit-keyframes olm-load {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        @keyframes olm-load {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
         a.link-no-style{
             all: unset;
         }

        /* Tooltip container */
        .tooltip {
            position: relative;
            display: inline-block;
            border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
            opacity: 100 !important;
            font-size: 14px !important;
        }

        .tooltip .tooltiptext {
            width: 150px;
            bottom: 100%;
            left: 30%;
            margin-left: -75px; /* Use half of the width (120/2 = 60), to center the tooltip */
        }

        .tooltip:hover{
            cursor: help;
        }

        /* Tooltip text */
        .tooltiptext {
            visibility: hidden;
            width: 250px;
            background-color: black;
            color: #fff;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;

            /* Position the tooltip text - see examples below! */
            position: absolute;
            z-index: 1;
        }

        /* Show the tooltip text when you mouse over the tooltip container */
        .tooltip:hover .tooltiptext {
            visibility: visible;
        }

    </style>
    <div style="display: flex; flex: 1; flex-direction: column; overflow-y: scroll; overflow-x: hidden; padding-right: 1em;">
        <h4>Mes objectifs</h4>
        <div id="objectives-header"><h5>Choix des objectifs</h5></div>
        <div class="flex-justified">
            <button id="retrieve-class-objectives-button" ng-click="retrieveClassObjectives(directory)" class="btn btn-primary mr-2 mb-2">Récupérer les objectifs de l'enseignant</button>
            <button id="retrieve-learner-objectives-button" ng-click="retrieveLearnerObjectives(directory)" class="btn btn-primary mb-2">Récupérer mes objectifs</button>
        </div>
        <div id="reset-objectives" class="d-none">
            <button id="reset-objectives-button" ng-click="resetObjectives(directory)" class="btn btn-primary w-100 p-2 mb-2">Enlever les objectifs</button>
        </div>
        <div ng-if="objectives.length === 0" id="no-objectives">Pas d'objectifs choisis pour les recommandations.</div>
        <div ng-if="objectives.length > 0" id="objectives-container">
            <div ng-repeat="objective in objectives">
                <div class="panel panel-default">
                    <div class="panel-heading" ng-include="BASE_CONFIG.urls.partials.learner+'/fragment-objective.html?v='+buildVersion" style="padding: 1em;">
                    </div>
                </div>
            </div>
        </div>
        <hr style="margin: 5px !important;"/>

        <h4>Mes recommandations</h4>
        <div id="recommendations-loader">
            <div class='olm-loader'></div>
            <p>
                Chargement des recommandations.
                Cette opération peut prendre plusieurs secondes.
            </p>
        </div>
        <div class="tooltip">
            <button id="retrieve-recommandations-button" ng-click="requestRecommendations(directory, objectives)" class="btn btn-primary w-100 mb-2" ng-disabled="objectives.length === 0">Obtenir de nouvelles recommandations</button>
            <span ng-if="objectives.length === 0"class="tooltiptext">
                <span>Vous devez avoir au moins un objectif pour demander des recommandations</span>
            </span>
        </div>
        <div id="recommendations-container" style="flex:1;">
            <div ng-if="recommendations.length === 0">Vous n'avez pas de recommandations proposées.</div>
                <div ng-repeat="recommendationNode in recommendationsNodes" class="panel panel-default">
                    <div id="panel-{{recommendationNode}}" class="panel-recommendation panel-heading collapsible active" ng-click="collapse(recommendationNode);">
                        <h3 class="panel-title" style="float:left;">{{recommendationNode.replaceAll("_"," ");}}</h3>
                    </div>
                    <div id="content-{{recommendationNode}}" class="content-recommendation panel-body content" style="display:block;">
                        <div ng-repeat="recommendation in recommendations track by recommendation.index" ng-if="recommendationNode == recommendation.objectiveNode">
                            <div class="panel">
                                <div ng-include="BASE_CONFIG.urls.partials.learner+'/fragment-recommendation.html?v='+buildVersion">
                                </div>
                            </div>
                    </div>
                </div>

            </div>
        </div>
            </div>
    </div>

</div>
<div class="right" style="flex: 1; display:flex;flex-direction: column;">
    <h4>Mon profil</h4>
    <h5>Dernière mise à jour le {{framework['computedAt']['date']}}</h5>
    <div style="padding-bottom: 1em;">
        <button ng-click="updateProfile(directory, true)" type="button" class="btn btn-primary">Mettre à jour mon profil</button>
        <button ng-if="selectedOption == 0" ng-click="hideResource()" id="buttonShowExercises" type="button" class="btn btn-primary">Cacher les resources</button>

        <select id="olm-options" ng-model="selectedOption" ng-change="_changeOLMVisu()" onchange="ChangeOLMVisu(this)" data-directory-id="{{directory.id}}" class="hidden"><!-- ng-change="_ChangeOLMVisu()" -->
            <option value="0" selected>Arborescent</option>
            <option value="1">Stalactite </option>
            <option value="2">Bulles     </option>
            <option value="3">Sunburst   </option>
        </select>
    </div>

    <div style="flex:1; overflow-y: scroll; overflow-x: hidden; display: flex; flex-direction: column;">
        <div id="olm-target-loader">
            <div class='olm-loader'></div>
            <p>
                Chargement du profil.
                Cette opération peut prendre plusieurs secondes, notamment lors de l'initialisation du profil...
            </p>
        </div>
        <div>
            <div style="float:left"><h5>Taux de maîtrise </h5></div>
            <div id="olm-colors" style="width:50%; height: 30px;float:left;margin-left:.5em;" onmouseenter="document.getElementById('helper-colors').style.display = 'block'" onmouseleave="document.getElementById('helper-colors').style.display = 'none'"></div>
        </div>
        <div id="helper-colors" style="display:none;border-radius: 15px;padding: 30px;border: 1px solid darkgray; position: absolute;margin-top: 40px;background-color: white;z-index: 9;">
            Le niveau de maîtrise est représentée par la couleur de la pastille à gauche de chaque noeud du profil :
            <ul style="list-style-type: none;"><li>Rouge (entre 0% et {{(framework.colors[0])*100}}%) : notion non maîtrisée</li>
                <li style="list-style-type: none;">Orange (entre {{(framework.colors[0])*100}}% et {{(framework.colors[1])*100}}%) : notion peu maîtrisée</li>
                <li style="list-style-type: none;">Jaune (entre {{((framework.colors[1])*100)+1}}% et {{(framework.colors[2])*100}}%) : notion partiellement maîtrisée</li>
                <li style="list-style-type: none;">Vert (entre {{((framework.colors[2])*100)+1}}% et 100%) : notion maîtrisée</li></ul>
        </div>
        <div id="olm-target" style="flex:1;"></div>
    </div>

</div>
<div ng-include="BASE_CONFIG.urls.partials.learner+'/modal-objective-selection.html?v='+buildVersion">
</div>
<script>

    function ChangeOLMVisu(elem, profileVisu){
        let value = parseInt(elem.value);
        let directoryId = elem.dataset.directoryId;
        let fw_tree = document._OLM.currentTree;
        let config = {
            "fontHoverColor":  "rgba(0, 0, 0, 1)",
            "fontColor":       "rgba(0, 0, 0, .85)",
            "backgroundColor": "rgba(255, 255, 255, .95)"
        };
        let OLM = document._OLM;
        //document.getElementById('olm-target').innerHTML = '';
        let action = '';
        switch(value){
            case 0:
                let treeIndented = new OLM.TreeIndented(document.getElementById('olm-target'), fw_tree, config);
                treeIndented.onClick = (node) => {}
                treeIndented.onMouseEnter = (node) => {}
                treeIndented.draw(svgId = 'olm-target-indented');
                action = 'change_to_treeIndented';
                break;
            case 1:
                let treePartition = new OLM.TreePartition(document.getElementById('olm-target'), fw_tree, config);
                treePartition.onClick = (node) => {}
                treePartition.onMouseOver = (node) => {}
                treePartition.draw(svgId = 'olm-target-partition');
                action = 'change_to_treePartition';
                break;
            case 2:
                let treePack = new OLM.TreePack(document.getElementById('olm-target'), fw_tree, config);
                treePack.onClick = (node) => {}
                treePack.onMouseOver = (node) => {}
                treePack.draw(svgId = 'olm-target-pack');
                action = 'change_to_treePack';
                break;
            case 3:
                let treeSunburst = new OLM.TreeSunburst(document.getElementById('olm-target'), fw_tree, config);
                treeSunburst.onClick = (node) => {}
                treeSunburst.onMouseOver = (node) => {}
                treeSunburst.draw(svgId = 'olm-target-sunburst');
                action = 'change_to_treeSunburst';
                break;
        }
        $.ajax({
            //url:     "/app_dev.php/api/profile/trace/"+directoryId+'/'+action,
            url:     `${BASE_CONFIG.urls.api.profile}trace/${directoryId}/${action}`,
            type:    "POST",
            async:   true,
            success: function(data, textStatus){}
        });
    }
</script>

</div>
