<div ng-repeat="model in directory.models  track by $index">
    <!-- every models if attempts in directory -->
    <div ng-if="model.has_attempts && directory.visible_exercise[$index]">
        <accordion>
            <accordion-group
                    class="panel panel-default">
                <div ng-include="BASE_CONFIG.urls.partials.learner+'/fragment-accordion-models.html?v='+buildVersion">
                </div>
            </accordion-group>
        </accordion>
    </div>
    <!-- every models if no attempts in directory -->
    <div ng-if="model.has_attempts == 0 && directory.visible_exercise[$index]" >
        <div class="margin-fix">
            <div ng-include="BASE_CONFIG.urls.partials.learner+'/fragment-models.html?v='+buildVersion">
            </div>
        </div>
    </div>
</div>
<accordion>
    <accordion-group class="panel panel-primary"
                     ng-repeat="sub in directory.subs  track by $index " ng-if="sub.is_visible">
        <accordion-heading class="panel-heading">
            <div class="row" title="Voir les exercices générés pour ce modèle">
                <div class="col-xs-3 col-sm-1">
              <span
                      class="glyphicon glyphicon-folder-open"
                      style="font-size:320%;"
                      title="Répertoire">
              </span>
                </div>
                <div class="col-xs-9 col-sm-9">
                    <div class="col-centered">
                        <h4>
                            {{sub.name}}
                        </h4>
                    </div>
                </div>
            </div>
        </accordion-heading>
        <div ng-repeat="model in sub.models  track by $index">
            <div ng-if="model.has_attempts && sub.visible_exercise[$index]">
                <accordion>
                    <accordion-group
                            class="panel panel-default">
                        <div ng-include="BASE_CONFIG.urls.partials.learner+'/fragment-accordion-models.html?v='+buildVersion">
                        </div>
                    </accordion-group>
                </accordion>
            </div>
            <div ng-if="model.has_attempts == 0 && sub.visible_exercise[$index]">

                <div class="margin-fix">
                    <div ng-include="BASE_CONFIG.urls.partials.learner+'/fragment-models.html?v='+buildVersion">
                    </div>
                </div>
            </div>
        </div>
    </accordion-group>
</accordion>
