<div class="panel-body" data-ng-controller="learnerController">
    <!--
    <accordion>
        <accordion-group class="panel panel-primary">
            <accordion-heading class="panel panel-primary panel-heading">
                <div class="row">
                    <div class="col-xs-12">
                        <h4>Mes tentatives</h4>
                    </div>
                </div>
            </accordion-heading>
        </accordion-group>
    </accordion>
    -->
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-12">
            <h4>Mes tentatives</h4>
          </div>
        </div>
      </div>
    </div>

    <accordion close-others="true">
        <accordion-group class="panel panel-primary"
                         ng-repeat="model in models track by $index">
            <accordion-heading class="panel-heading">
                <div class="row"
                     title="Voir les exercices générés pour ce modèle">
                    <div class="col-xs-1" ng-switch="model.type">
                        <div ng-switch-when="multiple-choice">
                            <span title="QCM" class="glyphicon glyphicon-check" style="font-size: 260%"></span>
                        </div>
                        <div ng-switch-when="open-ended-question">
                            <span class="glyphicon glyphicon-question-sign" style="font-size: 260%"></span>
                        </div>
                        <div ng-switch-when="pair-items">
                            <span title="Exercice d'appariement" title="Exercice d'appariement" class="glyphicon glyphicon-random" style="font-size: 260%"></span>
                        </div>
                        <div ng-switch-when="order-items">
                            <span title="Exercice d'ordonnancement" class="glyphicon glyphicon-sort" style="font-size: 260%"></span>
                        </div>
                        <div ng-switch-when="group-items">
                            <span title="Exercice de groupement" class="glyphicon glyphicon-link" style="font-size: 260%"></span>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <h4>{{ model.title }}</h4>
                    </div>
                    <div class="col-xs-3">
                        <h4>
                            {{ users[model.owner].first_name }} {{ users[model.owner].last_name }}
                        </h4>
                    </div>
                    <div class="col-xs-1">
                        <h4>
                            <span ng-if="model.complete"
                                  class="glyphicon glyphicon-repeat"
                                  ng-click="$event.stopPropagation();tryModel(model)"
                                  title="Nouvelle tentative pour ce modèle">
                            </span>
                            <span ng-if="!model.complete"
                                  class="glyphicon glyphicon-repeat"
                                  style="opacity: 0.3"
                                  ng-click="$event.stopPropagation()"
                                  title="Nouvelle tentative pour ce modèle (impossible car modèle incomplet)">
                            </span>
                        </h4>
                    </div>
                </div>
            </accordion-heading>
            <div class="row">
                <div class="col-xs-11">
                    <div ng-if="model.exercises.length == 0">
                        Aucun exercice pour ce modèle
                    </div>
                    <accordion ng-if="model.exercises.length > 0"
                               ng-repeat="exercise in model.exercises track by $index">
                        <accordion-group class="panel">
                            <accordion-heading class="panel panel-heading">
                                <div class="row"
                                     title="Voir les tentatives créées pour cet exercice">
                                    <div class="col-xs-11">
                                        <h4>Exercice {{ $index + 1 }}</h4>
                                    </div>
                                    <div class="col-xs-1">
                                      <!--
                                        <h4>
                                            <span class="glyphicon glyphicon-repeat"
                                                  ng-click="$event.stopPropagation();tryExercise(exercise)"
                                                  title="Nouvelle tentative pour cet exercice">
                                        </span>
                                        </h4>
                                        -->
                                    </div>
                                </div>
                            </accordion-heading>
                            <div ng-repeat="attempt in exercise.attempts track by $index">
                                <div class="row">
                                    <div ng-if="attempt.answers.length == 0">
                                        <div class="col-xs-9">
                                            Aucune réponse postée pour cette tentative
                                        </div>
                                        <div class="col-xs-2">
                                                <span class="glyphicon glyphicon-pencil"
                                                      ng-click="viewAttempt(attempt)"
                                                      title="Répondre à cette tentative">
                                                </span>
                                        </div>
                                    </div>
                                    <div ng-if="attempt.answers.length == 1">
                                        <div class="col-xs-9">
                                            Résultat : {{ attempt.answers[0].mark | number:0 }}%
                                        </div>
                                        <div class="col-xs-2">
                                                <span class="glyphicon glyphicon-eye-open"
                                                      ng-click="viewAttempt(attempt)"
                                                      title="Voir cette tentative">
                                                </span>
                                        </div>
                                    </div>
                                    <div ng-if="attempt.answers.length > 1">
                                        <div class="col-xs-2">
                                            Résultats :
                                        </div>
                                        <div class="col-xs-1"
                                             ng-repeat="answer in attempt.answers track by $index">
                                            {{ answer.mark }}%
                                        </div>
                                        <div class="col-xs-1">
                                                <span class="glyphicon glyphicon-eye-open"
                                                      ng-click="viewAttempt(attempt)"
                                                      title="Voir cette tentative">
                                                </span>
                                        </div>
                                        <div class="col-xs-1">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </accordion-group>
                    </accordion>
                </div>

            </div>
        </accordion-group>
    </accordion>

</div>
