{% extends "CRTToolBundle::template.html.twig" %}

{% block contenu %}
  <div class='container'>
    <div class='form-signin'>
      <form action="{{ path('login_check') }}" method="post">
        {% if error %}
            <div class='alert alert-danger alert-dismissible' role='alert'
            style='margin-top:15px;'>
              <button type="button" class="close" data-dismiss="alert"
              aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              Echec de l'authentification.
            </div>
        {% endif %}
        <h2 class='form-signin-heading'>
          <center>
            Authentification
          </center>
        </h2>
          <label for="username">
            Nom d'utilisateur
          </label>
          <input type="text" id="username" name="_username"
          value="{{ last_username }}" class='form-control' required
          placeholder="Votre nom d'utilisateur"/>

          <label for="password">
            Mot de passe
          </label>
          <input type="password" id="password" name="_password"
          class='form-control' placeholder='Votre mot de passe' required/>

          {#
              If you want to control the URL the user
              is redirected to on success (more details below)
              <input type="hidden" name="_target_path" value="/account" />
          #}
          <button type="submit" class='btn btn-lg btn-success btn-block'>
            Connexion
          </button>
      </form>
    </div>
    <div class='row'>
      <div class='col-lg-4 col-lg-offset-4'>
        <div class='panel panel-default'>
          <div class='panel-heading'>
            Vous n'avez pas de compte ?
          </div>
          <div class='panel-body'>
            <a href='{{path('crt_tool_account_form')}}'>
              Demander un compte LDAP PHM
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
