{% extends "SimpleITClaireExerciseBundle:Frontend:template_creator.html.twig" %}
{% block content %}
  <div class="container">
    <div class="row">
      <h2>Gestion des utilisateurs</h2>
        <input type="hidden" id="filter0" placeholder="Filter By tous">
        <input type="hidden" id="filter2" placeholder="Filter By Status">
        <input type="hidden" id="filter3" placeholder="Filter By LDAP">
      <form method='post' action="{{path('admin_change')}}">
        <input type='hidden' name='current' value="{{app.request.get('_route')}}">
        <div class="col-xs-12">
          <table class='table table-bordered' id='filter'>
            <thead>
              <th>
                <input type="checkbox" name='toggleAll' onClick="toggle(this)"> Tous
              </th>
              <th>
                <input type="text" id="filter1" placeholder="Filtrer par username">
              </th>
              <th>Statut</th>
              <th>LDAP</th>
              <th>
                <input type="text" id="filter4" placeholder="Filtrer par dossier">
              </th>
              <th>Roles</th>
              <th>Actions</th>
            </thead>
            <tbody>
              {% for user in users %}
                <tr>
                  <td>
                     <input type="checkbox" name="usersCheck[]" value="{{user.id}}">
                  </td>
                  <td>{{user.username}}</td>
                  <td>
                    {% if user.isEnable %}
                      <span class="label label-success">Actif</span>
                    {% else %}
                      <span class="label label-danger">Inactif</span>
                    {% endif %}
                  </td>
                  <td>
                    {% if user.isLdap %}
                      <span class="label label-success">Oui</span>
                    {% else %}
                      <span class="label label-danger">Non</span>
                    {% endif %}
                  </td>
                  <td id="{{user.id}}-directories">
                    {#
                    <a class='btn btn-primary btn-xs' role="button"  tabindex="0"
                    onclick="showAUR('{{path('admin_show_aur',{'user':user.id})}}',$(this))"
                    title="Dossiers de l'utilisateur {{user.username}}" type="button">
                      <span class="glyphicon glyphicon-search"></span>
                    </a>
                    #}
                  </td>
                  <td>
                    {% if user.roles is not empty %}
                      {% for role in user.roles|split(',') %}
                        <span class="label label-default">{{role}}</span>
                      {% endfor %}
                    {% endif %}
                  </td>
                  <td class="btn-grp-vertical btn-group-xs">
                    <a class='btn btn-warning' href="{{path('admin_edit',
                    {'user':user.id})}}">
                      <span class="glyphicon glyphicon glyphicon-edit"
                      title='Edition du profil utilisateur'/></span>
                    </a>
                    <div class="btn btn-info preview" data-user="{{user.id}}"
                      data-toggle="modal" data-target="#myModal">
                        <span class="glyphicon glyphicon-film"
                              title='Prévisualisation de la vue utilisateur'></span>
                    </div>
                    {% if not user.isLdap %}
                      <a class='btn btn-primary'  href="{{path('admin_update_password',
                      {'user':user.id})}}">
                        <span class="glyphicon glyphicon glyphicon-lock"
                        title='Changement du mot de passe'>
                        </span>
                      </a>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class='col-xs-4'>
            <h2>Activation</h2>
            <p>
              Activation des comptes sélectionnés.<br>
              Ajout d'un répertoire par défaut.
            </p>
            <div>
              <select name='directory'>
                {% for dir in dirs %}
                  <option value="{{dir.id}}">{{dir.name}}</option>
                {% endfor %}
              </select>
            </div>
            <div style='margin-top:10px;'>
              <button class='btn btn-success'>Activer</button>
            </div>
          </div>
          <div class='col-xs-4'>
            <h2>Suppression</h2>
            <p>
              Suppression des comptes sélectionnés.
            </p>
            <button class='btn btn-danger' name='delete'>Supprimer</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="width:80%;" >
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Prévisualisation utilisateur</h4>
        </div>
        <div class="modal-body" id="user-content">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <script  type="text/javascript"  src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/tablefilter.js') }}" defer></script>
  <script>
    options = {
      html:true,
      placement:'bottom',
      trigger: 'focus',
    }
    function templateDirectories(user_id, directories){
      msg = ""
      for(var key in directories){
        if (directories[key].isOwner) {
          msg += `<div class="label label-primary"><span class="glyphicon glyphicon-home"></span> ${directories[key].name}</div> `
        } else if (directories[key].isManager) {
          msg += `<div class="label label-primary"><span class="glyphicon glyphicon-pencil"></span> ${directories[key].name}</div> `
        } else if (directories[key].isReader) {
          msg += `<div class="label label-primary"><span class="glyphicon glyphicon-eye-open"></span> ${directories[key].name}</div> `
        } else{
          msg += `<div class="label label-primary">${directories[key].name}</div> `
        }
      }
      return msg;
    }
    document.addEventListener("DOMContentLoaded", function() {
      fetch("{{path('admin_show_aur')}}")
        .then( function (response) {
          if (!response.ok) {
            throw Error(`Error${response.status}:${response.text()}`)
          }
          return response.json()
        })
        .then( function (data) {
          for (const user_id in data) {
            directories = data[user_id];
            const element = document.getElementById(`${user_id}-directories`);
            if(typeof element !== 'undefined' && element !== null) {
              element.innerHTML = templateDirectories(user_id,directories);
            } else {
            console.log(`badly created user: ${user_id}`)
            }
          }
        })
    });

    $('.preview').on('click',function(){
      $.ajax({
        url : "{{path('admin_preview_user')}}"+"/" + $(this).data('user'),
        success: function(result){
          $('#user-content').html(result);
        },
        error: function(xhr,status,error){
          alert (xhr.responseText);
        }
      });
    });
    //function showAUR (url, element) {
    //  fetch(url)
    //    .then( function (response) {
    //      if (!response.ok) {
    //        throw Error(`Error${response.status}:${response.text()}`)
    //      }
    //      return response.text()
    //    })
    //    .then( function (data) {
    //      element.popover(options)
    //      element.attr('data-content', data)
    //      element.popover('show')
    //    })
    //}
    function toggle(source) {
      checkboxes = document.getElementsByName('usersCheck[]');
      for(var i=0, n=checkboxes.length;i<n;i++) {
        checkboxes[i].checked = source.checked;
      }
    }
  </script>
{% endblock %}
