{% extends "SimpleITClaireExerciseBundle:Frontend:template_creator.html.twig" %}
{% block content %}
  <style>
    .bar{
      fill: steelblue;
    }
    .bar:hover{
      fill: brown;
    }
    .axis {
      font: 10px sans-serif;
    }
    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
  </style>

  <div class="container">
    <div class='col-xs-12'>
      <h2>Dossier: {{directory.name}}</h2>
      <div class="row">
        <div class='col-xs-9 form-inline' style="margin-bottom:10px;">
          <div class="form-group">
            <label>Liste des vues:</label>
          </div>
          <select class="form-control" id="selectFilter">
            {% for view in directory.statViews %}
              {% if view.id == selectView.id %}
                <option value="{{view.id}}" selected
                data-url="{{path('admin_stats_edit_view',{'view' : view.id})}}">
                  {{view.name}} : {{selectView.startDate|date("d/m/Y")}} au {{selectView.endDate|date("d/m/Y")}}
                </option>
              {% else %}
                <option value="{{view.id}}"
                data-url="{{path('admin_stats_edit_view',{'view' : view.id})}}">
                  {{view.name}} : {{view.startDate|date("d/m/Y")}} au {{view.endDate|date("d/m/Y")}}
                </option>
              {% endif %}
            {% endfor %}
          </select>
          <!--<a id='btn-stat-view' href="{{path('admin_stats_directory',{'directory' : directory.id,})}}"-->
          <button type="button" class="btn btn-success"
            id='createButton' aria-label="Left Align">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-warning"
            id='editButton' aria-label="Left Align">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-danger"
            id='removeButton' aria-label="Left Align">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
          {% if (is_granted('ROLE_ADMIN')) %}
            <button type="button" class="btn btn-info"
              id='fullButton' aria-label="Left Aligne">
                remplir date à premiere connexion
            </button>
          {% endif %}

        </div>
      </div>
      <div class="row">
        <div class='col-xs-3' id='createForm'>
          {% form_theme createForm 'bootstrap_3_layout.html.twig' %}
            {{ form_start(createForm) }}
              {{ form_widget(createForm) }}
              <input type="submit" value="Sauvegarder"
              class="btn btn-success" />
            {{ form_end(createForm) }}
        </div>
        <div class='col-xs-3' id='editForm'>
        </div>
      </div>
      <div class='row' id='content_stat'>
      </div>
    </div>
  </div><!-- /.container -->
  <script>
    var url =  "{{path('admin_stats_directory',{'directory' : directory.id,})}}";
    $('#editForm').hide();
    $('#createForm').hide();
    $('#createButton').on('click',function(){
      $('#editForm').hide();
      $('#createForm').show();
    });
    $('#editButton').on('click',function(){
      $('#createForm').hide();
      $('#editForm').show();
    });
    $('#removeButton').on('click', function(){
      $.ajax({
        url : "{{path('admin_stats_delete_view')}}"+"/" + $('#selectFilter option:selected').val(),
        type: 'DELETE',
        success: function(){
          location.reload();
        },
        error: function(xhr,status,error){
          alert (xhr.responseText);
        }
      });
    });
    $('#fullButton').on('click', function(){
      $.ajax({
        url : "{{path('admin_stats_fullfill')}}/"+{{directory.id}}+"/" + $('#selectFilter option:selected').val(),
        type: 'GET',
        success: function(result){
            $('#content_stat').html(result);
        },
        error: function(xhr,status,error){
          alert (xhr.responseText);
        }
      });
    });
    $(function() {
      {% if selectView is not null %}
        $.ajax({
          url : url + "/" + {{selectView.id}},
          success: function(result){
            $('#content_stat').html(result);
          },
          error: function(xhr,status,error){
            alert (xhr.responseText);
          }
        });
        $.ajax({
          url : $('#selectFilter option:selected').data("url"),
          success: function(result){
            $('#editForm').html(result);
          }
        });
      {% else %}
        $.ajax({
          url : url ,
          success: function(result){
            $('#content_stat').html(result);
          },
          error: function(xhr,status,error){
            alert (xhr.responseText);
          }
        });
      {% endif %}
    });
    $('select').on('change', function() {
      $.ajax({
        url : url + "/" + this.value,
        statusCode: {
          302: function() {
            alert("Vous n'etes plus connecté");
          }
        },
        success: function(result){
          $('#content_stat').html(result);
        },
        error: function(xhr,status,error){
          alert (xhr.responseText);
        }
      });
      $.ajax({
        url : $('#selectFilter option:selected').data("url"),
        success: function(result){
          $('#editForm').html(result);
        }
      });
    })
  </script>

<script src="https://d3js.org/d3.v4.min.js"></script>
{% endblock %}
