<!doctype html>
<html lang="en" ng-app="mainApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
    <title>Asker</title>

    <!-- included styles -->
    <link rel="stylesheet" href="{{ asset('bundles/simpleitclaireexercise/frontend/css/bootstrap-combined.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/simpleitclaireexercise/frontend/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/simpleitclaireexercise/frontend/css/custom-style.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/simpleitclaireexercise/frontend/css/loading-bar.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/simpleitclaireexercise/frontend/css/select.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/simpleitclaireexercise/frontend/css/exercise.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/simpleitclaireexercise/frontend/css/lightbox.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/simpleitclaireexercise/frontend/css/font-awesome.min.css') }}">

    <!-- included vendors -->
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/angular.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/select.min.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/angular-resource.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/angular-route.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/ui-bootstrap-tpls.min.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/angular-ui-router.min.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/draganddrop.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/fileupload.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/loading-bar.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/lightbox.min.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/textAngular-sanitize.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/textAngular.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/textAngularSetup.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/angular-sanitize.min.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/jquery.ui.touch-punch.min.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/jquery.cookie.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/olm.bundle.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/jqm-multislider.min.js') }}"></script>


    <!-- common client app assets -->
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/apps.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/controllers.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/directives.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/learner-routes.js') }}"></script>
    {% if not app.user.isOnlyStudent %}
      <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/teacher-routes.js') }}"></script>
      <!-- teacher assets -->
      <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/modules/teacher/controllers.js') }}"></script>
      <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/modules/teacher/services.js') }}"></script>
    {% else %}
      <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/teacher-routes.js') }}"></script>
      <!-- teacher assets -->
      <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/modules/teacher/controllers.js') }}"></script>
      <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/modules/teacher/services.js') }}"></script>
    {% endif %}

    <!-- utils assets -->
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/modules/utils/services.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/modules/utils/build.js') }}"></script>
    <!-- learner assets -->
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/modules/learner/learner-controllers.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/modules/learner/item-controllers.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/modules/learner/services.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/modules/learner/new-controllers.js') }}"></script>

    <!-- basic client app context definition -->
    <script>
        var BASE_CONFIG = {
            urls: {
                api: {
                    resources: "{{ path('api_exercise_resource_list') }}",
                    models: "{{ path('api_exercise_model_list') }}",
                    directories: "{{ path('api_directory_list') }}",
                    recommendations: "{{ path('api_recommendation_list') }}",
                    recommendationsTrace: " {{ path('api_recommendations_trace') }}",
                  {% if not app.user.isOnlyStudent %}
                    mydirs: "{{path('api_directory_mine')}}",
                  {% endif %}
                    attemptedModels: "{{ path('api_exercise_attempted_model_list') }}",
                    attempts: "{{ path('api_attempt_list') }}",
                    news: "{{path('api_directory_list')}}",
                    exercises: "{{ path('api_exercise_list') }}",
                    users: "{{ path('api_user_list') }}",
                    uploads: "{{ path('api_upload_image') }}",
                    profile: "{{path('api_profile_root')}}"
                },
                partials: {
                    teacher: "/bundles/simpleitclaireexercise/frontend/partials/teacher",
                    learner: "/bundles/simpleitclaireexercise/frontend/partials/learner"
                },
                images: {
                    uploads: "/uploads/claire_exercise/",
                    exercise: "{{ asset('bundles/simpleitclaireexercise/images/exercise/') }}"
                },
                documents: {
                    uploads: "/uploads/claire_exercise/"
                }
            },
            language: 'fr',
            currentUserId: {{ currentUserId }}
        };
        angular.module('mainApp').value('BASE_CONFIG', BASE_CONFIG);
    </script>
  </head>
  {% if app.user.isOnlyStudent %}
    <body ng-controller="mainUserController">
  {% else %}
    <body ng-controller="mainManagerController">
  {% endif %}
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel"
  style="background-color: transparent;width:100%;height:100%;border:none;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Changement du mot de passe</h4>
        </div>
        <div class="modal-body">
          {% include 'SimpleITClaireExerciseBundle:Form:password.html.twig' %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id='navbar' class="navbar-collapse collapse">
      <ul class="nav navbar brand-size" style='margin-left:10px;'>
        {% if is_granted('ROLE_WS_CREATOR') %}
        <li class='dropdown'>
              <a data-toggle="dropdown" class='dropdown-toggle brand' href='#'>
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                Vue Etudiant<b class='caret'></b>
              </a>
              <ul class='dropdown-menu'>
              {% endif %}
                {% for dir in app.user.realDirectories %}
                  {% if dir.parent is null and dir.isVisible %}
                    <li>
                      <a ui-sref="dir-model-list({dirId:'{{dir.id}}'})"
                      title="Consulter les exercices du dossier {{dir.name}}">
                        {{dir.name}}
                      </a>
                    </li>
                  {% endif %}
                {% endfor %}
              {% if is_granted('ROLE_WS_CREATOR') %}
              </ul>
        </li>
        {% endif %}
        {% if not app.user.isOnlyStudent %}
          <li>
            <a ui-sref="model"
              title="Liste des modèles d'exercices que vous possédez ou auxquels vous avez accès">
                Mes modèles d'exercices
            </a>
          </li>
          <li>
            <a ui-sref="resource"
            title="Liste des ressources que vous possédez ou auxquelles vous avez accès">
              Mes ressources
            </a>
          </li>
          <li>
            <a ui-sref="directories"
            title="Liste des dossiers">
              Mes dossiers
            </a>
          </li>
        {% endif %}
      </ul>
          <ul class="nav navbar-nav navbar-right"
          style='margin-right:5px;'>
            <li class='dropdown'>
              <a data-toggle="dropdown" class='dropdown-toggle brand' href='#'>
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                {{ app.user.username }} <b class='caret'></b>
              </a>
              <ul class='dropdown-menu'>
                {% if is_granted('ROLE_ADMIN') %}
                  <li>
                    <a href="{{path('admin_list_users')}}" title='Administrer Asker'>
                      Administration
                    </a>
                  </li>
                {% endif %}
                {% if is_granted('ROLE_WS_CREATOR') %}
                  <li>
                    <a href="{{path('admin_stats')}}" title='Statistiques'>
                      Statistiques
                    </a>
                  </li>
                {% endif %}
                {% if is_granted('ROLE_WS_CREATOR') %}
                  <li>
                    <a href="{{path('admin_export')}}" title='Export'>
                      Export
                    </a>
                  </li>
                {% endif %}
                {% if app.user.isLdap == 0 %}
                  <li>
                    <a href='#' title='Changer de mot de passe'
                    data-toggle="modal" data-target="#myModal">
                      Changer de mot de passe
                    </a>
                  </li>
                {% endif %}
                <li>
                  <a href="{{path('logout')}}" title="Se déconnecter d'asker">
                    Se déconnecter
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
    </nav>

</div>

<div id="content">
  <div ui-view>
    <div class="col-xs-12 col-sm-8 col-sm-offset-2" style='margin-top:10%;'>
      <div class="jumbotron">
        <h2>Bienvenue sur la plateforme d'exercices d'auto-évaluation ASKER</h2>
          <p class="lead">
            Pour commencer, choisissez une matière en cliquant sur son nom en haut à gauche.
          </p>
      </div>
    </div>
  </div>
</div>

</body>
</html>
