{% extends "SimpleITClaireExerciseBundle:Frontend:template_creator.html.twig" %}
{% block content %}
  <div class="container">
    <h2>Les statistiques détaillées</h2>

    {% for type, flash_messages in app.session.flashBag.all %}
      {% for flash_message in flash_messages %}
        <div class="flash-{{ type }}">
          {{ flash_message }}
        </div>
      {% endfor %}
    {% endfor %}
    <div class="row">
      <div class='col-xs-9 form-inline' style="margin-bottom:10px;">
        <div class="form-group">
          <label>Liste des vues:</label>
        </div>
        <select class="form-control" id="selectFilter">
          {% for view in directory.statViews %}
            {% if view.id == selectView.id %}
              <option value="{{view.id}}" selected
              data-url="{{path('admin_stats_edit_view',{'view' : view.id})}}">
                {{view.name}} : {{selectView.startDate|date("d/m/Y")}} au {{selectView.endDate|date("d/m/Y")}}
              </option>
            {% else %}
              <option value="{{view.id}}"
              data-url="{{path('admin_stats_edit_view',{'view' : view.id})}}">
                {{view.name}} : {{view.startDate|date("d/m/Y")}} au {{view.endDate|date("d/m/Y")}}
              </option>
            {% endif %}
          {% endfor %}
        </select>
        <button type="button" class="btn btn-success"
          id='createButton' aria-label="Left Align">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-warning"
          id='editButton' aria-label="Left Align">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-danger"
          id='removeButton' aria-label="Left Align">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
        {% if (is_granted('ROLE_ADMIN')) %}
          <button type="button" class="btn btn-info"
            id='fullButton' aria-label="Left Aligne">
              remplir date à premiere connexion
          </button>
        {% endif %}
      </div>
      <!--div class='col-xs-3 form-inline' style="margin-bottom:10px;">
          <div class="form-group" style="margin-left:200px;">
              <button type="button" class="btn btn-info"
                aria-label="Right Aligne">
                  Retour
              </button>
          </div>
      </div-->
    </div>
    <div class="row">
      <div class='col-xs-6' id='createForm'>
        {% form_theme createForm 'bootstrap_3_layout.html.twig' %}
          {{ form_start(createForm) }}
            {{ form_widget(createForm) }}
            <input type="submit" value="Sauvegarder"
            class="btn btn-success" />
          {{ form_end(createForm) }}
      </div>
      <div class='col-xs-3' id='editForm'>
      </div>
    </div>
    <div id="content_stat"></div>
 </div>
 <script>
 // on place l'ancrage quand on arrive sur cette page
    sessionStorage.setItem('ancrage', '#users-array');

     var url =  "{{path('admin_stats_detail',{'directory' : directory.id,'user':user.id})}}";
     $('#editForm').hide();
     $('#createForm').hide();
     $('#createButton').on('click',function(){
       $('#editForm').hide();
       $('#createForm').show();
     });
     $('#editButton').on('click',function(){
       $('#createForm').hide();
       $('#editForm').show();
     });
     $('#removeButton').on('click', function(){
       $.ajax({
         url : "{{path('admin_stats_delete_view')}}"+"/" + $('#selectFilter option:selected').val(),
         type: 'DELETE',
         success: function(){
           location.reload();
         },
         error: function(xhr,status,error){
           alert (xhr.responseText);
         }
       });
     });
     $('#fullButton').on('click', function(){
       $.ajax({
         url : "{{path('admin_stats_fullfill')}}/"+{{directory.id}}+"/" + $('#selectFilter option:selected').val(),
         type: 'GET',
         success: function(result){
             $('#content_stat').html(result);
         },
         error: function(xhr,status,error){
           alert (xhr.responseText);
         }
       });
     });
     $(function() {
       {% if selectView is not null %}
         $.ajax({
           url : url + "/" + {{selectView.id}},
           success: function(result){
             $('#content_stat').html(result);
           },
           error: function(xhr,status,error){
             alert (xhr.responseText);
           }
         });
         $.ajax({
           url : $('#selectFilter option:selected').data("url"),
           success: function(result){
             $('#editForm').html(result);
           }
         });
       {% else %}
         $.ajax({
           url : url ,
           success: function(result){
             $('#content_stat').html(result);
           },
           error: function(xhr,status,error){
             alert (xhr.responseText);
           }
         });
       {% endif %}
     });
     $('select').on('change', function() {
       $.ajax({
         url : url + "/" + this.value,
         statusCode: {
           302: function() {
             alert("Vous n'etes plus connecté");
           }
         },
         success: function(result){
           $('#content_stat').html(result);
         },
         error: function(xhr,status,error){
           alert (xhr.responseText);
         }
       });
       $.ajax({
         url : $('#selectFilter option:selected').data("url"),
         success: function(result){
           $('#editForm').html(result);
         }
       });
     })
 </script>

{% endblock %}
