html {
    overflow-y: scroll;
}

body {
    padding-top: 90px;
    padding-bottom: 80px;
}

#TopNav {
    padding: 10px;
}

#TopNav a {
    font-size: 24pt;
    color: #dddddd;
    text-decoration: none;
}

#TopNav a:hover {
    color: #ffffff;
}

#bottomNav {
    padding: 10px;
}

#bottomNav a {
    font-size: 24pt;
    color: #dddddd;
    text-decoration: none;
}

#bottomNav a:hover {
    color: #ffffff;
}

option {
    text-align: center;
}

.scrollContainer {
    position: fixed;
    margin-top: 135px;
    overflow: auto;
    right: 0;
    padding-left: 0;
    padding-right: 0
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: 1%;
    margin-left: 1%;
}

.research {
    vertical-align: top;
    margin-right: 20px;
    margin-left: 20px;
}

.constraint-value {
    border: 1px solid #428bca;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .05);
    /*margin: 2px;*/
    padding-left: 5px;
    background-color: #ffffff;
}

.variable-value {
    border: 1px solid #3c763d;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .05);
    /*margin: 2px;*/
    padding-left: 5px;
    background-color: #ffffff;
}

.panel-model-subscribe {
    border: 2px solid #428bca;
}

.panel-model-subscribe>.panel-heading {
    color: #428bca;
    background-color: #ffffff;
    border-color: #428bca
}


.panel-model-subscribe>.panel-heading+.panel-collapse
.panel-body {
    border-top-color: #428bca
}

.panel-model-subscribe>.panel-footer+.panel-collapse
.panel-body {
    border-bottom-color: #428bca
}

.panel-resource-subscribe {
    border: 2px solid #3c763d
}

.panel-resource-subscribe>.panel-heading {
    color: #3c763d;
    background-color: #ffffff;
    border-color: #3c763d
}

.panel-resource-subscribe>.panel-heading+.panel-collapse
.panel-body {
    border-top-color: #3c763d
}

.panel-resource-subscribe>.panel-footer+.panel-collapse
.panel-body {
    border-bottom-color: #3c763d
}
/* custom invisible panel, not visible directory */
.panel-invisible{
  border-color:#756A6A
}
.panel-invisible>.panel-heading{
  color:#333333;
  background-color:#A89898;
  border-color:#756A6A
}
.panel-invisible>.panel-heading+.panel-collapse .panel-body{
  border-top-color:#756A6A
}
.panel-invisible>.panel-footer+.panel-collapse .panel-body{
  border-bottom-color:#756A6A
}

.archived {
    opacity: 0.6;
}

.modal {
    margin: 0;
    top: 0;
    width: 1200px;
}

.popover {
    max-width: 512px !important;
}
.td-stat{
  vertical-align:middle !important;
  text-align:center;
}
.margin-fix{
  margin-bottom:20px;
}
ul.brand-size * {
  font-size:18px;
}

.d-none {
    display: none !important;
}
#tabbody > tr > td > .checkbox {
        margin-top: 0px !important;
}

.flex{
    display:flex;
}

.filter-item{
    margin-top: 1em;
}

#float-tooltip {
    position: absolute;
}
#float-tooltip + .tooltip {
    pointer-events: none;
}