        <accordion-heading class="panel-heading" style="padding-bottom: 0">
            <div class="row">
                <div class="col-xs-1" ng-switch="model.type" ui-draggable="true" drag="model">
                    <div ng-switch-when="multiple-choice">
                        <span title="QCM" class="glyphicon glyphicon-check" style="font-size: 320%"></span>
                    </div>
                    <div ng-switch-when="open-ended-question">
                        <span title="Question à réponse courte ouverte" class="glyphicon glyphicon-question-sign" style="font-size: 320%"></span>
                    </div>
                    <div ng-switch-when="pair-items">
                        <span title="Exercice d'appariement" class="glyphicon glyphicon-random" style="font-size: 320%"></span>
                    </div>
                    <div ng-switch-when="order-items">
                        <span title="Exercice d'ordonnancement" class="glyphicon glyphicon-sort" style="font-size: 320%"></span>
                    </div>
                    <div ng-switch-when="group-items">
                        <span title="Exercice de groupement" class="glyphicon glyphicon-link" style="font-size: 320%"></span>
                    </div>
                    <div ng-switch-when="text-with-holes">
                        <span title="Exercice de texte à trous" class="glyphicon glyphicon-list-alt" style="font-size: 320%"></span>
                    </div>
                </div>

                <div class="col-xs-11">
                    <div class="col-centered" ui-draggable="true" drag="model">
                        {{ model.title }}&nbsp;<span class="caret"></span>
                    </div>
                    <div class="col-centered pull-right" ui-draggable="true" drag="model">
                        <h4>
                          <button type="submit" name="fromPlatform" form="comper3-{{model.id}}"
                              title="rattacher le modèle à un référentiel COMPER" style="background:none;border:none;padding:0;"
                              ng-click="$event.stopPropagation()">
                                <span class="glyphicon  glyphicon-cloud-upload">
                                </span>
                          </button>
                          <form action="https://compervm-dev.liris.cnrs.fr/p2r/linkResource.php"
                          method="post"  id="comper3-{{model.id}}" style="display:none;">
                            <input type="hidden" name="id" value="asker:{{model.id}}"></input>
                            <input type="hidden" name="title" value="{{model.title}}"></input>
                            <input type="hidden" name="interactivityType" value="active"></input>
                            <input type="hidden" name="language" value="fr"></input>
                            <input type="hidden" name="generative" value="1"></input>
                            <input type="hidden" name="learningPlatform" value="asker"></input>
                            <input type="hidden" name="author" value="{{users[model.owner].user_name}}"></input>
                            <input type="hidden" name="location" value="{{href}}{{model.id}}"></input>
                            <input type="hidden" name="learningResourceType" ng-value="typeToComper(model.type)"></input>
                          </form>
                            <span ng-if="model.complete"
                                  ng-click="$event.stopPropagation();tryModel(model)"
                                  class="glyphicon glyphicon-repeat"
                                  title="Essayer de répondre à un exercice pour ce modèle"></span>
                            <span ng-if="!model.complete"
                                  class="glyphicon glyphicon-repeat"
                                  style="opacity: 0.3"
                                  ng-click="$event.stopPropagation()"
                                  title="Essayer de répondre à un exercice pour ce modèle (impossible car modèle non complet)"></span>
                            <span
                                ng-if="model.owner != BASE_CONFIG.currentUserId || model.parent != null"
                                  ui-sref="modelEdit({ modelid:model.id })"
                                  class="glyphicon glyphicon-eye-open"
                                  title="Voir ce modèle (édition impossible)"></span>
                            <span
                                ng-if="model.owner == BASE_CONFIG.currentUserId && model.parent == null"
                                ui-sref="modelEdit({ modelid:model.id })"
                                class="glyphicon glyphicon-edit"
                                title="Editer ce modèle"></span>
                            <span
                                ng-if="model.owner == BASE_CONFIG.currentUserId"
                                ng-click="$event.stopPropagation();duplicateModel(model)"
                                class="glyphicon glyphicon-duplicate"
                                title="Dupliquer ce modèle : créer un nouveau modèle identique à celui-ci."></span>
                            <span
                                ng-if="model.owner !== BASE_CONFIG.currentUserId"
                                ng-click="$event.stopPropagation();importModel(model)"
                                class="glyphicon glyphicon-import"
                                title="Importer ce modèle : créer un nouveau modèle identique à celui-ci et dont vous êtes le propriétaire. Cette opération importe automatiquement les ressources publiques associées à ce modèle."></span>
                            <span
                                ng-if="model.owner !== BASE_CONFIG.currentUserId"
                                ng-click="$event.stopPropagation();subscribeModel(model)"
                                class="glyphicon glyphicon-share-alt"
                                title="S'abonner à ce modèle : il fait à présent partie de vos modèles privés mais vous faites confiance à l'auteur. Vous bénéficierez des modifications qu'il apportera au modèle. Vous ne pourrez pas le modifier de votre côté. Il s'agit d'un raccourci vers le modèle d'un autre utilisateur."></span>
                            <span
                                ng-if="model.owner == BASE_CONFIG.currentUserId && model.archived"
                                  ng-click="$event.stopPropagation();restoreModel(model)"
                                  class="glyphicon glyphicon-open"
                                  title="Restaurer ce modèle"></span>
                            <span
                                ng-if="model.owner == BASE_CONFIG.currentUserId && !model.archived"
                                  ng-click="$event.stopPropagation();archiveModel(model)"
                                  class="glyphicon glyphicon-save"
                                  title="Archiver ce modèle"></span>
                            <span ng-if="model.owner == BASE_CONFIG.currentUserId && model.removable"
                                  ng-click="$event.stopPropagation();deleteModel(model)" class="glyphicon glyphicon-remove"
                                  title="Supprimer ce modèle"></span>
                            <span ng-if="model.owner == BASE_CONFIG.currentUserId && !model.removable"
                                  class="glyphicon glyphicon-remove"
                                  style="opacity: 0.3"
                                  ng-click="$event.stopPropagation()"
                                  title="Supprimer ce modèle (impossible car des exercices ont été générés avec ; il est donc utilisé)"></span>
                            &nbsp;
                        </h4>
                    </div>
                    <div class="row" style="margin-left: 3px">
                        <div style="margin: 1% 1% 0;" class="modelMD">
                            <label class="panel panel-success" data-ng-repeat="meta in model.metadata track by $index" style="margin: 2px;"
                                   title="Métadonnée de ce modèle">
                                &nbsp;<span ui-draggable="true" drag="meta.key">{{ meta.key }}</span>:&nbsp;<span>{{ meta.value }}</span>&nbsp;
                            </label>
                            <label class="panel panel-success" data-ng-repeat="keyword in model.keywords track by $index" style="margin: 2px;"
                                   title="Mot-clé de ce modèle">
                                &nbsp;{{ keyword }}&nbsp;
                            </label>
                        </div>

                    </div>
                </div>
            </div>
        </accordion-heading>
        <div class="col-centered">
            <label>Auteur&nbsp;:&nbsp;</label>{{ users[model.author].user_name }}
        </div>
        <div class="col-centered">
            <label>Propriétaire&nbsp;:&nbsp;</label>{{ users[model.owner].user_name }}
        </div>
        <div class="col-centered">
            <label>Partagé&nbsp;:&nbsp;</label>
            <ng-switch on="model.public">
                <span ng-switch-when="true">Oui</span>
                <span ng-switch-when="false">Non</span>
            </ng-switch>
        </div>
        <div class="col-centered">
            <label>Complet&nbsp;:&nbsp;</label>
            <ng-switch on="model.complete">
                <span ng-switch-when="true">Oui</span>
                <span ng-switch-when="false">Non</span>
            </ng-switch>
        </div>
        <div class="col-centered" ng-switch="model.type">
            <div ng-switch-when="multiple-choice">
                <label>Type de modèle&nbsp;:&nbsp;</label>QCM
            </div>
            <div ng-switch-when="open-ended-question">
                <label>Type de modèle&nbsp;:&nbsp;</label>Question à réponse courte ouverte
            </div>
            <div ng-switch-when="pair-items">
                <label>Type de modèle&nbsp;:&nbsp;</label>Appariement
            </div>
            <div ng-switch-when="order-items">
                <label>Type de modèle&nbsp;:&nbsp;</label>Exercice d'ordonnancement
            </div>
            <div ng-switch-when="group-items">
                <label>Type de modèle&nbsp;:&nbsp;</label>Exercice de groupement
            </div>
            <div ng-switch-when="text-with-holes">
                <label>Type de modèle&nbsp;:&nbsp;</label>Exercice de texte à trous
            </div>
        </div>
        <div class="col-centered">
            <label>Consigne du modèle d'exercice&nbsp;:&nbsp;</label>{{ model.content.wording }}
        </div>
        <div class="col-centered">
          <label>Dossiers&nbsp;:&nbsp;</label>
            <span ng-repeat="directory in model.directories">
              "{{directory}}",
            </span>
        </div>

