<accordion>
    <div class="panel panel-success row" data-ng-repeat="item in parentBlock.items track by $index"
        ng-init="itemIndex=$index" style="margin-left:1%; margin-right: 1%">
        <div ng-switch="item.item_type">

            <div ng-switch-when="text">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="row ng-scope">
                            <div class="col-centered pull-left">
                                <h4>{{item.id}}. Texte</h4>
                            </div>
                            <input type="text" ng-model="item.text"/>
                            <div class="col-centered pull-right"
                                style="margin-right:1%">
                                    <strong ng-if="parentBlock.rule=='constraint'" data-ng-click="addConstraint(parentBlock,itemIndex)">Ajouter contrainte</strong>
                                    <span ng-if="parentBlock.rule=='constraint'"
                                        data-ng-click="addConstraint(parentBlock,itemIndex)"
                                        class="glyphicon glyphicon-plus"></span>
                                <strong data-ng-click="removeFromBlock(parentBlock, itemIndex)">Supprimer</strong>
                                <span
                                    data-ng-click="removeFromBlock(parentBlock, itemIndex)"
                                    class="glyphicon glyphicon-remove"></span>
                            </div>
                        </div>
                        <div ng-if="parentBlock.rule=='position'">
                            <div class="row">
                                <div class="col-centered pull-left">
                                    <strong>Position(s) acceptée(s) :</strong>
                                    <span data-ng-repeat="itemRule in parentBlock.positions[itemIndex] track by $index">
                                        {{itemRule}}
                                        <span data-ng-click="removePosition(parentBlock, itemIndex, $index)"
                                        class="glyphicon glyphicon-remove"></span>
                                    </span>&nbsp;
                                    <select ng-model="value" ng-options="x for x in generateNumbers(parentBlock.items.length)"
                                        style="width:auto">
                                    </select>
                                    <span data-ng-click="parentBlock.positions[itemIndex].push(value)"
                                        class="glyphicon glyphicon-ok"></span>
                                </div>
                            </div>
                        </div>
                        <div ng-if="parentBlock.rule=='constraint'" data-ng-repeat="constraint in parentBlock.rules[itemIndex] track by $index">
                            <div class="row">
                                <div class="col-centered pull-left">
                                    <span data-ng-click="removeConstraint(parentBlock, itemIndex, $index)"
                                        class="glyphicon glyphicon-remove"></span>
                                    <select ng-model="constraint.type" ng-options="x for x in typeOfConstraints">
                                    </select>
                                </div>
                                <div class="col-centered">
                                    <div ng-switch="constraint.type">
                                        <div ng-switch-when="fixe">
                                           <strong>à la position </strong>
                                           <select ng-model="constraint.values[0]" ng-options="x for x in generateNumbers(parentBlock.items.length)">
                                           </select>
                                        </div>
                                        <div ng-switch-default>
                                            <strong>le numéro </strong>
                                            <select ng-model="constraint.values[0]" ng-options="x for x in generateNumbers(parentBlock.items.length,itemIndex+1)">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-switch-when="block">
                <accordion-group class="panel panel-success" is-open="true">
                    <accordion-heading class="panel-heading">
                        <div class="row ng-scope">
                            <div class="col-centered pull-left">
                                <h4>{{item.id}}. Bloc de niveau {{level}}</h4>
                            </div>
                            <div class="col-centered pull-right" ng-if="level!=1"
                                style="margin-right:1%">
                                <strong ng-if="parent.rule=='constraint'" data-ng-click="$event.stopPropagation();addConstraint(parent,itemIndex)">Ajouter contrainte</strong>
                                <span ng-if="parent.rule=='constraint'"
                                    data-ng-click="$event.stopPropagation(); addConstraint(parent,itemIndex)"
                                    class="glyphicon glyphicon-plus"></span>
                                <strong data-ng-click="removeFromBlock(parent, itemIndex)">Supprimer</strong>
                                <span
                                    data-ng-click="removeFromBlock(parent, itemIndex)"
                                    class="glyphicon glyphicon-remove">
                                </span>
                            </div>
                        </div>
                        <div ng-if="parent.rule=='position'">
                            <div class="row">
                                <div class="col-centered pull-left">
                                    <strong>Position(s) acceptée(s) :</strong>
                                    <span data-ng-repeat="itemRule in parent.positions[itemIndex] track by $index">
                                        {{itemRule}}
                                        <span data-ng-click="$event.stopPropagation();removePosition(parent, itemIndex, $index)"
                                        class="glyphicon glyphicon-remove"></span>
                                    </span>&nbsp;
                                    <select ng-model="value" ng-options="x for x in generateNumbers(parent.items.length)"
                                        style="width:auto" data-ng-click="$event.stopPropagation();">
                                    </select>
                                    <span data-ng-click="$event.stopPropagation();parent.positions[itemIndex].push(value)"
                                        class="glyphicon glyphicon-ok"></span>
                                </div>
                            </div>
                            <br>
                        </div>
                        <div ng-if="parent.rule=='constraint'" data-ng-repeat="constraint in parent.rules[itemIndex] track by $index">
                            <div class="row">
                                <div class="col-centered pull-left" style="margin-left:1%; margin-right:1%">
                                    <span data-ng-click="removeConstraint(parent, itemIndex, $index); $event.stopPropagation()"
                                        class="glyphicon glyphicon-remove"></span>
                                    <select ng-model="constraint.type" ng-options="x for x in typeOfConstraints">
                                    </select>
                                </div>
                                <div class="col-centered pull-left">
                                    <div ng-switch="constraint.type">
                                        <div ng-switch-when="fixe">
                                           <strong>à la position </strong>
                                           <select ng-model="constraint.values[0]" data-ng-click="$event.stopPropagation();"
                                           ng-options="x for x in generateNumbers(parent.items.length)">
                                           </select>
                                        </div>
                                        <div ng-switch-default>
                                            <strong>le numéro </strong>
                                            <select ng-model="constraint.values[0]" data-ng-click="$event.stopPropagation();"
                                            ng-options="x for x in generateNumbers(parent.items.length,itemIndex+1)">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-centered pull-center">
                                <strong>Ordonner selon :</strong>
                                <span data-ng-click="parentBlock.rule='position';$event.stopPropagation()">
                                    <span ng-if="parentBlock.rule=='position'" class="glyphicon glyphicon-check"></span>
                                    <span ng-if="parentBlock.rule!='position'" class="glyphicon glyphicon-unchecked"></span>
                                    Position
                                </span> &nbsp;&nbsp;
                                <span data-ng-click="parentBlock.rule='constraint';$event.stopPropagation()">
                                    <span ng-if="parentBlock.rule=='constraint'" class="glyphicon glyphicon-check"></span>
                                    <span ng-if="parentBlock.rule!='constraint'" class="glyphicon glyphicon-unchecked"></span>
                                    Contrainte
                                </span> &nbsp;&nbsp;
                            </div>
                        </div>
                    </accordion-heading>
                <div ng-init="parent=parentBlock; parentBlock = item.block; level=level+1;"
                    ng-include="BASE_CONFIG.urls.partials.teacher+'/fragment-resource-order-block.html?v='+buildVersion">
                </div>
                </accordion-group>
            </div>

        </div>
    </div>
</accordion>

<div data-ng-click="addText(parentBlock,parentBlock.items.length,parentBlock.rule)">
    <div>
        <span class="glyphicon glyphicon-plus" title="Ajouter une proposition"></span>&nbsp;&nbsp;
        <strong>Ajouter un texte</strong>
    </div>
    <br>
</div>
<div data-ng-click="addGroup(parentBlock,parentBlock.items.length,parentBlock.rule)">
    <div>
        <span class="glyphicon glyphicon-plus" title="Ajouter une proposition"></span>&nbsp;&nbsp;
        <strong>Ajouter un bloc</strong>
    </div>
</div>
<br>



