<div data-ng-controller="directoryController">
  <div class="panel-body" data-ng-controller="directoryListController">
  <div style="margin-bottom:15px;">
      <a data-ng-click="createDirectory()" href class="list-group-item"><span class="glyphicon glyphicon-picture"></span>&nbsp;Créer un dossier</a>
  </div>
    <accordion>
      <accordion-group  class='panel'
      ng-class="directory.is_visible ? 'panel-default'
      : 'panel-invisible'"
      ng-repeat="directory in directories track by directory.id"
      ng-if="directory.idp === undefined">
        <accordion-heading class="panel-heading">
          <div class='row'>
            <div class="col-xs-3 col-sm-1">
              <span
                class="glyphicon glyphicon-folder-open"
                style="font-size:320%;"
                title="Dossier">
              </span>
            </div>
            <div class="col-xs-7 col-sm-9">
              <div class="col-centered">
                {{directory.name}}&nbsp;<span class="caret"></span>
              </div>
            </div>
            <div class="col-xs-2 col-sm-2">
              <div class="col-centered pull-right">
                <h4>
                  <button ng-if="directory.frameworkId != null && directory.frameworkId != ''" type="submit" name="fromPlatform"
                          form="comper-profile-explorer" ng-click="$event.stopPropagation();getComperJWT(directory.frameworkId, 'asker:group-'+directory.id+'-'+directory.frameworkId)"
                          title="Paramètres COMPER et profils étudiants" style="background: none; border: none; padding: 0;" value="asker">
                    <span class="glyphicon  glyphicon-cloud-upload"></span>
                  </button>
                  <form ng-if="directory.frameworkId != null && directory.frameworkId != '' && test" id="comper-profile-explorer"
                        action="https://compervm-dev.liris.cnrs.fr/cpe/"
                        target="_blank"
                        method="post"  style="display:none;">
                    <input type="hidden" id="comper-jwt-input" name="token" />
                  </form>

                  <form ng-if="directory.frameworkId != null && directory.frameworkId != '' && !test" id="comper-profile-explorer"
                        action="https://compervm-dev.liris.cnrs.fr/cpe/"
                        target="_blank"
                        method="post"  style="display:none;">
                    <input type="hidden" id="comper-jwt-input" name="token" />
                  </form>

                  <span class="glyphicon" ng-class="
                  directory.is_visible ? 'glyphicon-eye-open'
                  : 'glyphicon-eye-close'"
                  ng-if="!directory.is_reader"
                  ng-click="$event.stopPropagation();setVisible(directory)"
                  ng-attr-title="
                  {{directory.is_visible
                  ? 'Ce dossier est visible.'
                  : 'Ce dossier est invisible.'}}">
                  </span>
                  <span
                    ng-if="directory.owner_id === BASE_CONFIG.currentUserId"
                    style="color: #31708f;"
                    class="glyphicon glyphicon-duplicate"
                    ng-click="$event.stopPropagation();duplicateDirectory(directory.id)"
                    title="Dupliquer ce dossier">
                  </span>
                  <span
                    ng-if="directory.owner_id !== BASE_CONFIG.currentUserId"
                    style="color: #31708f;"
                    class="glyphicon glyphicon-import"
                    ng-click="$event.stopPropagation();cloneDirectory(directory.id)"
                    title="Importer ce dossier">
                  </span>
                  <span
                      ng-attr-title="
                       {{directory.subs > '0'
                        ? 'Il est nécessaire de supprimer les sous-dossiers avant de supprimer un dossier parent.'
                        : 'Supprimer le dossier.'}}"
                      ng-attr-style="{{directory.subs > '0' ? 'cursor: not-allowed;' : 'cursor: pointer;'}}">
                    <span
                      class="glyphicon glyphicon-remove"
                      ng-if="directory.owner_id === BASE_CONFIG.currentUserId"
                      ng-readonly="directory.subs > '0'"
                      ng-attr-style="{{directory.subs > '0'
                      ? 'pointer-events: none; color: #b94a48;'
                      : 'pointer-events: auto; color: #b94a48;'}}"
                      ng-click="$event.stopPropagation();deleteDirectory(directory)">
                    </span>
                  </span>
                  <span
                    ng-if="!directory.is_reader"
                    style="color: #3c763d;"
                    class="glyphicon glyphicon-plus"
                    ng-click="$event.stopPropagation();createDirectory(directory.id)"
                    title="Création d'un sous dossier">
                  </span>
                  <span
                    class="glyphicon glyphicon-check"
                    style="color: #8a6d3b;"
                    ng-if="directory.is_reader"
                    ng-click="$event.stopPropagation();editDirectory(directory)"
                    title="Regarder le dossier">
                  </span>
                  <span
                    class="glyphicon glyphicon-edit"
                    style="color: #8a6d3b;"
                    ng-if="!directory.is_reader"
                    ng-click="$event.stopPropagation();editDirectory(directory)"
                    title="Editer le dossier">
                  </span>
                </h4>
              </div>
            </div>
          </div>
        </accordion-heading>
        <div class="row">
          <div class="col-centered">
              <label>Nombre de modèles&nbsp;:&nbsp;</label> {{directory.models}}
          </div>
          <div class="col-centered">
            <label>Nombre de modèles visibles&nbsp;:&nbsp;</label> {{directory.nbVisibleExercise}}
          </div>
          <div class="col-centered">
              <label>Nombre de sous-dossiers&nbsp;:&nbsp;</label> {{directory.subs}}
          </div>
          <div class="col-centered">
              <label>Code apogee &nbsp;:&nbsp;</label> {{directory.code}}
          </div>
        </div>
        <div class='row'>
          <div class="col-xs-11">
            <accordion ng-repeat="sub in directories track by sub.id"
            ng-if="sub.idp === directory.id">
              <accordion-group class="panel"
              ng-class="sub.is_visible ? 'panel-default'
              : 'panel-invisible'">
                <accordion-heading  class="panel panel-heading">
                  <div class="row">
                    <div class="col-xs-2">
                      {{sub.name}}
                    </div>
                    <div class="col-xs-10">
                      <div class="col-centered pull-right">
                        <h4>
                          <span class="glyphicon" ng-class="
                          sub.is_visible ? 'glyphicon-eye-open'
                          : 'glyphicon-eye-close'"
                          ng-click="$event.stopPropagation();setVisible(sub)"
                          ng-attr-title="
                          {{directory.is_visible
                          ? 'Ce dossier est visible.'
                          : 'Ce dossier est invisible.'}}">
                          </span>
                          <span
                            class="glyphicon glyphicon-remove"
                            ng-click="$event.stopPropagation();deleteDirectory(sub);"
                            style="color: #b94a48;"
                            ng-if="directory.owner_id === BASE_CONFIG.currentUserId"
                            title="Supprimer le sous-dossier">
                          </span>
                          <span
                            class="glyphicon glyphicon-check"
                            style="color: #8a6d3b;"
                            ng-if="directory.is_reader"
                            ng-click="$event.stopPropagation();editDirectory(sub)"
                            title="Regarder le dossier">
                          </span>
                          <span
                            class="glyphicon glyphicon-edit"
                            style="color: #8a6d3b;"
                            ng-if="!directory.is_reader"
                            ng-click="$event.stopPropagation();editDirectory(sub)"
                            title="Editer le dossier">
                          </span>
                        </h4>
                      </div>
                    </div>
                  </div>
                </accordion-heading>
                <div class="row">
                  <div class="col-centered">
                      <label>Nombre de modèles&nbsp;:&nbsp;</label> {{sub.models}}
                  </div>
                  <div class="col-centered">
                    <label>Nombre de modèles visibles&nbsp;:&nbsp;</label> {{sub.nbVisibleExercise}}
                  </div>
                  <div class="col-centered">
                      <label>Nombre de sous-dossiers&nbsp;:&nbsp;</label> {{sub.subs}}
                  </div>
                  <div class="col-centered">
                      <label>Code apogee &nbsp;:&nbsp;</label> {{sub.code}}
                  </div>
                </div>
              </accordion-group>
            </accordion>
          </div>
        </div>
      </accordion-group>
    </accordion>
  </div>
</div>
