<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="col-centered">
            <h5>Mélanger les questions</h5>
            <span data-ng-click="model.content.shuffle_questions_order=!model.content.shuffle_questions_order">
                <span class="glyphicon" ng-class="{'glyphicon-check': model.content.shuffle_questions_order, 'glyphicon-unchecked': !model.content.shuffle_questions_order}"></span>
                Mélanger
            </span> &nbsp;&nbsp;
            <span data-ng-click="model.content.shuffle_questions_order=!model.content.shuffle_questions_order">
                <span class="glyphicon" ng-class="{'glyphicon-unchecked': model.content.shuffle_questions_order, 'glyphicon-check': !model.content.shuffle_questions_order}"></span>
                Ne pas mélanger
            </span>
        </div>
    </div>
</div>

<accordion>
    <accordion-group class="panel panel-primary" name="accordionBlock"
                     data-ng-repeat="block in model.content.question_blocks track by $index"
                     ng-init="openFirst('accordionBlock', $index); metadata_constraints = block.resource_constraint.metadata_constraints; blockTypes = []"
                     is-open="openFirstBlocks.accordionBlock[$index]">
        <accordion-heading class="panel-heading">
            <div class="row"
                 title="Un bloc désigne un ensemble de ressources dont une partie sera tirée aléatoirement lors de la génération d'exercices">
                <div class="col-xs-11">
                    Bloc de question&nbsp;<span class="caret"></span>
                </div>
                <div class="col-xs-1">
            <span data-ng-click="$event.stopPropagation();modelRemoveField(model.content.question_blocks, $index)"
                  class="glyphicon glyphicon-remove"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12"
                     title="Le nombre de ressources à utiliser parmi celles de ce bloc pour constituer des paires lors de la génération de l'exercice">
                    <h5>Nombre de questions</h5>
                    <input type="number" ng-click="$event.stopPropagation();" ng-model="block.number_of_occurrences" class="form-control" style="height: 25px">
                </div>
                <div class="col-xs-6">
                    <h5 title="Nombre de propositions par question. Si cette option vaut 0, elle est ignorée. Sinon, elle remplace la valeur éventuelle précisée dans chacune des ressources.">
                        Nombre de propositions
                    </h5>
                    <input type="number" ng-model="block.max_number_of_propositions" ng-click="$event.stopPropagation();" class="form-control" style="height: 25px">
                </div>
                <div class="col-xs-6">
                    <h5 title="Nombre de propositions justes par question. Si cette option vaut 0, elle est ignorée. Sinon, elle remplace la valeur éventuelle précisée dans chacune des ressources.">
                        Nombre de propositions justes
                    </h5>
                    <input type="number" ng-model="block.max_number_of_right_propositions" ng-click="$event.stopPropagation();" class="form-control" style="height: 25px">
                </div>
            </div>
        </accordion-heading>
        <div ng-include src="BASE_CONFIG.urls.partials.teacher+'/fragment-resources-in-block.html?v='+buildVersion"></div>
    </accordion-group>

    <div class="panel panel-primary">
        <div class="panel-heading" data-ng-click="modelAddBlockField(model.content.question_blocks)">
            <div class="row">
                <div class="col-xs-1">
                    <span class="glyphicon glyphicon-plus"></span>
                </div>
                <div class="col-xs-10"></div>
                <div class="col-xs-1"></div>
            </div>
        </div>
    </div>

</accordion>
