<div data-ng-controller="resourceController">
<div class="row" data-ng-controller="resourceEditController">

<div class="col-xs-12">
    <div class="panel-body">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-1" ng-switch="editedResource.type">
                        <div ng-switch-when="text">
                            <span title="Texte" class="glyphicon glyphicon-align-left" style="font-size: 500%"></span>
                        </div>
                        <div ng-switch-when="text-with-holes">
                            <span title="Texte à trous" class="glyphicon glyphicon-indent-right" style="font-size: 500%"></span>
                        </div>
                        <div ng-switch-when="picture">
                            <span class="glyphicon glyphicon-picture" style="font-size: 500%"></span>
                        </div>
                        <div ng-switch-when="document">
                            <span class="glyphicon glyphicon-file" style="font-size: 500%"></span>
                        </div>
                        <div ng-switch-when="multiple-choice-question">
                            <span title="Question de QCM" class="glyphicon glyphicon-check" style="font-size: 500%"></span>
                        </div>
                        <div ng-switch-when="open-ended-question">
                            <span title="Question à réponse courte ouverte" class="glyphicon glyphicon-question-sign" style="font-size: 500%"></span>
                        </div>
                        <div ng-switch-when="sequence">
                            <span title="Exercice d'appariement" class="glyphicon glyphicon-random" style="font-size: 500%"></span>
                        </div>
                        <div ng-switch-when="order">
                            <span title="Ordre" class="glyphicon glyphicon-sort" style="font-size: 500%"></span>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="col-xs-6">
                            <h4>Titre</h4>
                            <input type="text" ng-model="editedResource.title" class="form-control" ng-required/>
                        </div>
                        <div class="col-xs-3">
                            <h4>Auteur</h4>
                            <input type="text" ng-model="users[editedResource.author].user_name" class="form-control" disabled>
                        </div>
                        <div class="col-xs-3">
                            <h4>Propriétaire</h4>
                            <input type="text" ng-model="users[editedResource.owner].user_name"
                                   class="form-control" disabled>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="col-xs-6">
                            <div title="Cette ressource est-elle partagée avec les autres auteurs ?" data-ng-click="editedResource.public=!editedResource.public">
                                <div class="col-centered">
                                    <!--DEMO<span class="glyphicon" ng-class="{'glyphicon-check': editedResource.public, 'glyphicon-unchecked': !editedResource.public}" data-ng-click="editedResource.public=!editedResource.public"></span>-->
                                    <span class="glyphicon" ng-class="{'glyphicon-check': editedResource.public, 'glyphicon-unchecked': !editedResource.public}"></span>
                                </div>
                                <div class="col-centered">
                                    <h4>Partagé</h4>
                                </div>
                            </div>
                            <div>
                                <div class="col-centered">
                                    <span class="glyphicon" ng-class="{'glyphicon-check': editedResource.archived, 'glyphicon-unchecked': !editedResource.archived}" data-ng-click="editedResource.archived=!editedResource.archived"></span>
                                </div>
                                <div class="col-centered">
                                    <h4>Archivé</h4>
                                </div>
                            </div>
                            <!--<div>-->
                            <!--<div class="col-centered">-->
                            <!--<span class="glyphicon" ng-class="{'glyphicon-check': editedResource.draft, 'glyphicon-unchecked': !editedResource.draft}" data-ng-click="editedResource.draft=!editedResource.draft"></span>-->
                            <!--</div>-->
                            <!--<div class="col-centered">-->
                            <!--<h4>Brouillon</h4>-->
                            <!--</div>-->
                            <!--</div>-->
                        </div>
                        <div class="col-xs-6">
                            <div
                                title="Cette ressource est-elle valide, utilisable dans un exercice ? {{ completeError[editedResource.complete_error] }}">
                                <div class="col-centered">
                                    <span class="glyphicon" ng-class="{'glyphicon-check': editedResource.complete, 'glyphicon-unchecked': !editedResource.complete}"></span>
                                </div>
                                <div class="col-centered">
                                    <h4>Complet</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12">
<div class="panel-body">

<div ng-switch="editedResource.type">
    <div ng-switch-when="text">

        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-5">
                        <h4>Texte</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div text-angular ng-model="editedResource.content.text"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-switch-when="text-with-holes" id="twh">
      <div ng-include src="BASE_CONFIG.urls.partials.teacher+'/partial-annoted-text-editor.html?v='+ buildVersion"></div>
    </div>

    <div ng-switch-when="picture">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-11">
                        <h4>Image</h4>
                    </div>
                    <div class="col-xs-1"></div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <input type="file" ng-file-select="onFileSelect($files)">
                    </div>
                </div>
                <a href="{{BASE_CONFIG.urls.images.uploads}}{{editedResource.content.source}}"
                   data-lightbox="res" data-title="La ressource">
                    <img ng-src="{{BASE_CONFIG.urls.images.uploads}}{{editedResource.content.source}}"
                         style="height: 100px; width: auto"/>
                </a>
            </div>
        </div>
    </div>

    <div ng-switch-when="document">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-11">
                        <h4>Document</h4>
                    </div>
                    <div class="col-xs-1"></div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <input type="file" ng-file-select="onFileSelect($files)">
                    </div>
                </div>
                <button type="button" data-ng-click="seeDocument()">Voir document</button>
            </div>
        </div>
    </div>

    <div ng-switch-when="multiple-choice-question">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-centered">
                        <h4>Nombre de propositions</h4>
                        <input type="number" ng-model="editedResource.content.max_number_of_propositions" class="form-control" style="height: 25px">
                    </div>
                    <div class="col-centered">
                        <h4>Nombre de propositions justes</h4>
                        <input type="number" ng-model="editedResource.content.max_number_of_right_propositions" class="form-control" style="height: 25px">
                    </div>
                    <div class="col-centered">
                        <h4>Mélanger les propositions</h4>
                            <span data-ng-click="editedResource.content.do_not_shuffle=!editedResource.content.do_not_shuffle">
                                <span class="glyphicon" ng-class="{'glyphicon-check': editedResource.content.do_not_shuffle, 'glyphicon-unchecked': !editedResource.content.do_not_shuffle}"></span>
                                Ne pas mélanger les propositions
                            </span> &nbsp;&nbsp;
                            <span data-ng-click="editedResource.content.do_not_shuffle=!editedResource.content.do_not_shuffle">
                                <span class="glyphicon" ng-class="{'glyphicon-unchecked': editedResource.content.do_not_shuffle, 'glyphicon-check': !editedResource.content.do_not_shuffle}"></span>
                                Mélanger les propositions
                            </span>
                    </div>
                    <div class="col-xs-12">
                        <h4>Indice de correction</h4>
                        <input type="text" ng-model="editedResource.content.comment" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-success" is-open="true">
            <div class="panel-heading">
                <h4>Question de QCM</h4>
                <input type="text" ng-model="editedResource.content.question" class="form-control">
            </div>
            <div style="margin-left:1%; margin-right: 1%">
                <h4>Propositions</h4>

                <div class="panel panel-success row" data-ng-repeat="proposition in editedResource.content.propositions track by $index">
                    <div class="col-xs-5">
                        <label>Intitulé de la proposition</label>
                        <input type="text" ng-model="proposition.text" class="form-control">
                    </div>
                    <div class="col-xs-3 text-center" data-ng-click="proposition.right=!proposition.right">
                        <span class="glyphicon" ng-class="{'glyphicon-check': proposition.right, 'glyphicon-unchecked': !proposition.right}"></span>
                        <label>Proposition correcte</label>
                    </div>
                    <div class="col-xs-3 text-center" data-ng-click="proposition.force_use=!proposition.force_use">
                        <span class="glyphicon" ng-class="{'glyphicon-check': proposition.force_use, 'glyphicon-unchecked': !proposition.force_use}"></span>
                        <label>Forcer l'affichage</label>
                    </div>
                    <div class="col-xs-1">
                        <span class="glyphicon glyphicon-remove" data-ng-click="removeFromCollection(editedResource.content.propositions, $index)"></span>
                    </div>
                </div>
                <div data-ng-click="addProposition(editedResource.content.propositions)">
                    <div>
                        <span class="glyphicon glyphicon-plus" title="Ajouter une proposition"></span>&nbsp;&nbsp;
                        <strong>Ajouter une proposition</strong>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <div ng-switch-when="order">
        <div data-ng-controller="resourceEditOrderController">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-centered pull-left">
                            <h4>Bloc de niveau {{level}}</h4>
                        </div>
                        <div class="col-centered">
                            <strong>Ordonner selon :</strong>
                            <span data-ng-click="parentBlock.rule='position';$event.stopPropagation()">
                                <span ng-if="parentBlock.rule=='position'" class="glyphicon glyphicon-check"></span>
                                <span ng-if="parentBlock.rule!='position'" class="glyphicon glyphicon-unchecked"></span>
                                Position
                            </span> &nbsp;&nbsp;
                            <span data-ng-click="parentBlock.rule='constraint';$event.stopPropagation()">
                                <span ng-if="parentBlock.rule=='constraint'" class="glyphicon glyphicon-check"></span>
                                <span ng-if="parentBlock.rule!='constraint'" class="glyphicon glyphicon-unchecked"></span>
                                Contrainte
                            </span> &nbsp;&nbsp;
                        </div>
                    </div>
                </div>
                <br>
                <div ng-init="parentBlock = editedResource.content.block; level=1;"
                     ng-include="BASE_CONFIG.urls.partials.teacher+'/fragment-resource-order-block.html?v='+buildVersion">
                </div>
            </div>
        </div>
    </div>

    <div ng-switch-when="open-ended-question">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12">
                        <h4>Question à réponse courte</h4>
                        <textarea type="text" rows="5" ng-model="editedResource.content.question"
                               class="form-control"></textarea>
                    </div>
                    <div class="col-xs-12">
                        <h4>Commentaire</h4>
                        <input type="text" ng-model="editedResource.content.comment" class="form-control">
                    </div>
                </div>
            </div>
            <div style="margin-left:1%; margin-right: 1%">
                <h4>Solutions</h4>

                <div class="row">
                    <div class="col-xs-12" data-ng-repeat="solution in editedResource.content.solutions track by $index">
                        <div class="col-xs-10">
                            <input type="text" ng-model="solution" class="form-control" disabled>
                        </div>
                        <div class="col-xs-2">
                            <span class="glyphicon glyphicon-remove" data-ng-click="removeFromCollection(editedResource.content.solutions, $index)"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-10">
                            <input type="text" id="resourceAddSolution" class="form-control">
                        </div>
                        <div class="col-xs-2">
                            <span class="glyphicon glyphicon-ok" title="Ajouter une solution" data-ng-click="addSolution(editedResource.content.solutions)"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div ng-if="editedResource.type === 'open-ended-question'"
     class="panel panel-success">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-12">
                <h4>Formules</h4>
            </div>
        </div>
    </div>
    <div class="row"
         data-ng-repeat="formula in editedResource.content.formulas track by $index">
        <div class="col-xs-12">
            <div class="panel-body panel panel-success" style="margin:1%">
                <label>Nom de la formule</label>

                <div class="col-centred pull-right">
                        <span
                            data-ng-click="removeFromCollection(editedResource.content.formulas, $index)"
                            class="glyphicon glyphicon-remove"></span>
                </div>
                <br>
                <input type="text" ng-model="formula.name" class="form-control"/>

                <label>Formule</label>
                <input type="text" ng-model="formula.equation" class="form-control"/>

                <label>Variables</label>

                <div class="row"
                     data-ng-repeat="variable in formula.variables track by $index">
                    <div class="col-xs-12">
                        <div class="panel-body panel panel-success" style="margin:1%">
                            <div class="row">
                                <div class="col-xs-3">Nom de la variable</div>
                                <input type="text" ng-model="variable.name"
                                       class="col-xs-8"/>

                                <div class="col-xs-1">
                                    <span
                                        data-ng-click="removeFromCollection(formula.variables, $index)"
                                        class="glyphicon glyphicon-remove"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-3">Type</div>
                                <div class="btn-group col-xs-9"
                                     style="margin-top: 4px;margin-bottom: 16px">
                                    <label class="btn btn-success"
                                           ng-model="variable.type" btn-radio="'integer'">
                                        Entier
                                    </label>
                                    <label class="btn btn-success"
                                           ng-model="variable.type" btn-radio="'float'">
                                        Décimal
                                    </label>
                                    <!--<label class="btn btn-success"-->
                                           <!--ng-model="variable.type" btn-radio="'scientific'">-->
                                        <!--Scientifique-->
                                    <!--</label>-->
                                </div>
                            </div>

                            <div class="row" ng-if="variable.type === 'float' || variable.type === 'scientific'">
                                <div class="col-xs-3">Nombre de décimales après la virgule</div>
                                <input type="text" ng-model="variable.digits_after_point"
                                       class="col-xs-8">
                            </div>

                            <div class="row">
                                <div class="col-xs-3">Valeur</div>
                                <div class="btn-group col-xs-9"
                                     style="margin-top: 4px;margin-bottom: 16px">
                                    <label class="btn btn-success"
                                           ng-model="variable.value_type"
                                           btn-radio="'values'">
                                        Liste de valeurs
                                    </label>
                                    <label class="btn btn-success"
                                           ng-model="variable.value_type" btn-radio="'interval'">
                                        Intervalle
                                    </label>
                                    <label class="btn btn-success"
                                           ng-model="variable.value_type" btn-radio="'expression'">
                                        Expression
                                    </label>
                                </div>
                            </div>

                            <div class="row"
                                 ng-if="variable.value_type === 'values'">
                                <div data-ng-repeat="value in variable.values track by $index">
                                    <div class="col-xs-5">
                                        <div class="variable-value">
                                            {{ value }}
                                        </div>
                                    </div>
                                    <div class="col-xs-1">
                                        <span
                                            data-ng-click="removeFromCollection(variable.values, $index)"
                                            class="glyphicon glyphicon-remove"></span>
                                    </div>
                                </div>
                                <div>
                                    <div class="col-xs-5">
                                        <input type="text" ng-model="newValue" class="form-control"
                                               placeholder="nouvelle valeur">
                                    </div>
                                    <div class="col-xs-1">
                                        <span data-ng-click="variable.values.push(newValue); newValue = ''"
                                              class="glyphicon glyphicon-ok"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row"
                                 ng-if="variable.value_type === 'interval'">
                                <div class="col-xs-2">Min :</div>
                                <input type="text" ng-model="variable.interval.min" class="col-xs-2">

                                <div class="col-xs-2">Max :</div>
                                <input type="text" ng-model="variable.interval.max" class="col-xs-2">

                                <div class="col-xs-2">Pas :</div>
                                <input type="text" ng-model="variable.interval.step" class="col-xs-2">
                            </div>
                            <div class="row"
                                 ng-if="variable.value_type === 'expression'">
                                <div class="col-xs-3">Expression :</div>
                                <input type="text" ng-model="variable.expression" class="col-xs-9">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-success" style="margin:1%">
                    <div class="panel-heading"
                         data-ng-click="formulaAddVariable(formula.variables)">
                        <div class="row">
                            <div class="col-xs-1">
                                <span class="glyphicon glyphicon-plus"></span>
                            </div>
                            <div class="col-xs-10">Nouvelle variable</div>
                        </div>
                    </div>
                </div>

                <label>Inconnue</label>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel-body panel panel-success" style="margin:1%">
                            <div class="row">
                                <div class="col-xs-3">Nom de l'inconnue</div>
                                <input type="text" ng-model="formula.unknown.name"
                                       class="col-xs-8"/>
                            </div>

                            <div class="row">
                                <div class="col-xs-3">Type</div>
                                <div class="btn-group col-xs-9"
                                     style="margin-top: 4px;margin-bottom: 16px">
                                    <label class="btn btn-success"
                                           ng-model="formula.unknown.type" btn-radio="'integer'">
                                        Entier
                                    </label>
                                    <label class="btn btn-success"
                                           ng-model="formula.unknown.type" btn-radio="'float'">
                                        Décimal
                                    </label>
                                    <!--<label class="btn btn-success"-->
                                           <!--ng-model="formula.unknown.type" btn-radio="'scientific'">-->
                                        <!--Scientifique-->
                                    <!--</label>-->
                                </div>
                            </div>

                            <div class="row" ng-if="formula.unknown.type === 'float' || formula.unknown.type === 'scientific'">
                                <div class="col-xs-3">Nombre de décimales après la virgule</div>
                                <input type="text" ng-model="formula.unknown.digits_after_point"
                                       class="col-xs-8">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="panel panel-success" style="margin:1%">
        <div class="panel-heading"
             data-ng-click="resourceAddFormula(editedResource.content.formulas)">
            <div class="row">
                <div class="col-xs-1">
                    <span class="glyphicon glyphicon-plus"></span>
                </div>
                <div class="col-xs-10">Nouvelle formule</div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-success" >
    <div class="panel-heading" style="background:white;">

        <div class="row">
            <h4 class="col-xs-5" style="width:100%">Mots-clés</h4>
            <div ng-repeat="keyword in editedResource.keywords track by $index">
                <div class="col-xs-5">
                    <input type="text" ng-model="keyword" class="form-control" disabled>
                </div>
                <div class="col-xs-1"><span data-ng-click="removeFromCollection(editedResource.keywords, $index)"
                                            class="glyphicon glyphicon-remove"
                                            title="Supprimer ce mot-clé"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5">
                <input id="resourceAddKeyword" type="text" value=""
                       placeholder="nouveau mot-clé" class="form-control"></div>
            <div class="col-xs-1"><span data-ng-click="resourceAddKeywordsField(editedResource.keywords)"
                                        class="glyphicon glyphicon-ok"
                                        title="Ajouter ce mot-clé"></span>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-heading" style="background:white">
        <h4>Métadonnées</h4>

        <div class="row">
            <div ng-repeat="meta in editedResource.metadata track by $index"
                 ng-init="resource = resources[meta.value.substring(2)]">
                <div class="col-xs-3">
                    <input type="text" ng-model="meta.key" class="form-control">
                </div>
                <div class="col-xs-7">
                    <input ng-if="meta.value.substring(0,2) != '__' || isNan(meta.value.substring(2))"
                           type="text" ng-model="meta.value" class="form-control">
                    <accordion ng-if="meta.value.substring(0,2) == '__' && !isNan(meta.value.substring(2))"
                               close-others="true">
                        <accordion-group class="panel"
                                         data-ng-class="{'panel-success': resource.parent == null, 'panel-resource-subscribe': resource.parent != null, 'archived': resource.archived}">
                            <div ng-include src="BASE_CONFIG.urls.partials.teacher+'/fragment-resource-panel.html?v='+buildVersion"></div>
                        </accordion-group>
                    </accordion>
                </div>
                <div class="col-xs-1">
                            <span data-ng-click="removeFromCollection(editedResource.metadata, $index)"
                                  class="glyphicon glyphicon-remove"
                                  title="Supprimer ce couple de métadonnées"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <input ng-model="resourceAddMD.key" type="text"
                       placeholder="nouvelle clé" class="form-control"></div>
            <div class="col-xs-7">
                <input ng-if="resource == null"
                       ng-model="resourceAddMD.value" type="text"
                       placeholder="nouvelle valeur" class="form-control">
                <accordion ng-if="resource != null"
                           close-others="true">
                    <accordion-group class="panel"
                                     data-ng-class="{'panel-success': resource.parent == null, 'panel-resource-subscribe': resource.parent != null, 'archived': resource.archived}">
                      <div ng-include src="BASE_CONFIG.urls.partials.teacher+'/fragment-resource-panel.html?v='+buildVersion"></div>
                    </accordion-group>
                </accordion>
            </div>
            <div class="col-xs-2">
                <span data-ng-click="resourceCancelMD()"
                      class="glyphicon glyphicon-remove"
                      title="Annuler la ressource sélectionnée"></span>
                <span data-ng-click="openSelectResource()"
                      class="glyphicon glyphicon-file"
                      title="Sélectionner une ressoure comme métadonnée"></span>
                <span data-ng-click="resourceAddMetadataField(editedResource.metadata)"
                      class="glyphicon glyphicon-ok"
                      title="Ajouter ce couple de métadonnées"></span>
            </div>
        </div>
    </div>
</div>

<div class="navbar">
    <button back-Button class="btn btn-success"
            title="Retour à l'écran précédent. Toute modification non sauvegardée sera perdue.">
        Retour
    </button>
    <button ng-if="editedResource.owner == BASE_CONFIG.currentUserId && editedResource.parent == null"
            ng-click="updateResource()" class="btn btn-success"
            title="Sauvegarder les modifications. Ne peut pas être annulé.">
        Sauvegarder
    </button>
    <button ng-if="editedResource.owner == BASE_CONFIG.currentUserId && editedResource.removable"
            ng-click="deleteResource(editedResource)" back-Button
            class="btn btn-danger pull-right"
            title="Supprimer cette ressource. Possible uniquement si cette ressource n'est pas utilisée par ailleurs.">
        Supprimer
    </button>
</div>

</div>
</div>

</div>
</div>
