<accordion>
    <accordion-group class="panel panel-primary" name="accordionBlock"
                     data-ng-repeat="block in model.content.object_blocks track by $index"
                     ng-init="openFirst('accordionBlock', $index); metadata_constraints = block.resource_constraint.metadata_constraints; blockTypes = ['picture', 'text']"
                     is-open="openFirstBlocks.accordionBlock[$index]">
        <accordion-heading class="panel-heading">
            <div class="row"
                 title="Un bloc désigne un ensemble de ressources dont une partie sera tirée aléatoirement lors de la génération d'exercices">
                <div class="col-xs-11">
                    Bloc de ressources&nbsp;<span class="caret"></span>
                </div>
                <div class="col-xs-1">
                    <span
                        data-ng-click="$event.stopPropagation();modelRemoveField(model.content.object_blocks, $index)"
                        class="glyphicon glyphicon-remove"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6"
                     title="Le nombre de ressources à utiliser parmi celles de ce bloc pour constituer la liste des objets à placer lors de la génération de l'exercice">
                    <h5>Nombre de ressources</h5>
                    <input type="number" ng-click="$event.stopPropagation();" ng-model="block.number_of_occurrences" class="form-control" style="height: 25px">
                </div>
            </div>
        </accordion-heading>
        <div ng-include src="BASE_CONFIG.urls.partials.teacher+'/fragment-resources-in-block.html?v='+buildVersion"></div>
    </accordion-group>

    <div class="panel panel-primary">
        <div class="panel-heading" data-ng-click="modelAddBlockField(model.content.object_blocks)">
            <div class="row">
                <div class="col-xs-1">
                    <span class="glyphicon glyphicon-plus"></span>
                </div>
                <div class="col-xs-10"></div>
                <div class="col-xs-1"></div>
            </div>
        </div>
    </div>
</accordion>

<accordion>
    <accordion-group class="panel panel-primary" is-open="true">
        <accordion-heading class="panel-heading">
            <div>
                Gestion des groupes&nbsp;<span class="caret"></span>
            </div>
        </accordion-heading>
        <div class="row">
            <div class="col-xs-12">
                <label>Mode d'affichage des noms de groupes</label><br>

                <div class="btn-group">
                    <label class="btn btn-info" ng-model="model.content.display_group_names" btn-radio="'show'">Afficher</label>
                    <label class="btn btn-info" ng-model="model.content.display_group_names" btn-radio="'hide'">Cacher</label>
                    <label class="btn btn-info" ng-model="model.content.display_group_names" btn-radio="'ask'">Demander à l'apprenant</label>
                </div>
            </div>
            <div class="col-xs-12">&nbsp;</div>
            <div class="col-xs-12">
                <label>Liste des groupes</label><br>

                <div class="panel-body panel panel-primary"
                     data-ng-repeat="group in model.content.classif_constr.groups track by $index"
                     data-ng-init="metadata_constraints = group.metadata_constraints">

                    <div data-ng-if="!group.build_groups">
                        <label>Nom du groupe</label>
                        <div class="col-centred pull-right">
                            <span data-ng-click="group.force_use=!group.force_use">
                                <span class="glyphicon"
                                    ng-class="{'glyphicon-check': group.force_use, 'glyphicon-unchecked': !group.force_use}"></span>
                                Forcer l'usage
                            </span>
                            <span
                                data-ng-click="modelRemoveField(model.content.classif_constr.groups, $index)"
                                class="glyphicon glyphicon-remove"></span>
                        </div><br>
                        <input type="text" ng-model="group.name" class="form-control"/>
                        <div data-ng-include="BASE_CONFIG.urls.partials.teacher+'/fragment-constraint-list.html?v='+buildVersion"></div>
                    </div>
                    <div data-ng-if="group.build_groups">
                        <label>Groupe automatique</label>
                        <div class="col-centred pull-right">
                            <span>Meta-donnée pour la création des groupes</span>
                            <span
                                data-ng-click="modelRemoveField(model.content.classif_constr.groups, $index)"
                                class="glyphicon glyphicon-remove"></span>
                        </div><br>
                        <input type="text" ng-model="group.name" class="form-control"/>
                    </div>
                </div>
                <button
                    ng-click="addGroup(true)" class="btn btn-primary"
                    title="Ajouter un nouveau groupe automatique">
                    Créer groupes automatiquement</span>
                </button>
                <button
                    ng-click="addGroup(false)" class="btn btn-primary"
                    title="Ajouter un nouveau groupe manuel">
                    Créer groupes manuellement</span>
                </button>
            </div>
            <div class="col-xs-12">&nbsp;</div>
            <div class="col-xs-12">
                <label>Ressources orphelines (sans nom de groupe)</label><br>
            </div>
            <div class="col-xs-12">
                <div class="panel panel-primary">
                    <div class="col-xs-12"><br>

                        <div class="btn-group">
                            <label class="btn btn-info" ng-model="model.content.classif_constr.other" btn-radio="'reject'">Ne pas utiliser ces ressources</label>
                            <!--<label class="btn btn-info" ng-model="model.content.classif_constr.other" btn-radio="'own'">Créer de nouveaux groupes</label>-->
                            <label class="btn btn-info" ng-model="model.content.classif_constr.other" btn-radio="'misc'">Les regrouper</label>
                        </div>
                    </div>
                    <div ng-switch="model.content.classif_constr.other" class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="col-xs-12" ng-switch-when="misc">
                                    <br><span>Les ressources orphelines sont regroupées dans un nouveau groupe nommé "Autre".</span><br><br>
                                </div>
                                <div class="col-xs-12" ng-switch-when="reject">
                                    <br><span>Les ressources orphelines ne sont pas utilisées par le modèle d'exercice.</span><br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </accordion-group>
</accordion>
