<accordion>
    <accordion-group class="panel panel-primary" name="accordionBlock"
                     data-ng-repeat="block in model.content.pair_blocks track by $index"
                     ng-init="openFirst('accordionBlock', $index); metadata_constraints = block.resource_constraint.metadata_constraints; blockTypes = ['picture', 'text']"
                     is-open="openFirstBlocks.accordionBlock[$index]">
        <accordion-heading class="panel-heading">

            <div class="row"
                 title="Un bloc désigne un ensemble de ressources dont une partie sera tirée aléatoirement lors de la génération d'exercices">
                <div class="col-xs-11">
                    Bloc d'appariement&nbsp;<span class="caret"></span>
                </div>
                <div class="col-xs-1">
                    <span data-ng-click="$event.stopPropagation();modelRemoveField(model.content.pair_blocks, $index)"
                          class="glyphicon glyphicon-remove"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6"
                     title="La clé de métadonnée utilisée pour constituer la partie mobile des paires">
                    <h5>Clé de métadonnée</h5>
                    <input ng-click="$event.stopPropagation();"
                           type="text" ng-model="block.pair_meta_key"
                           class="form-control" ui-on-Drop="onDropMetadataKey($event,$data,block,'pair_meta_key')"/>
                </div>
                <div class="col-xs-6"
                     title="Le nombre de ressources à utiliser parmi celles de ce bloc pour constituer des paires lors de la génération de l'exercice">
                    <h5>Nombre de paires</h5>
                    <input type="number" ng-click="$event.stopPropagation();"
                           ng-model="block.number_of_occurrences" class="form-control" style="height: 25px">
                </div>
            </div>
        </accordion-heading>
        <div ng-include src="BASE_CONFIG.urls.partials.teacher+'/fragment-resources-in-block.html?v='+buildVersion"></div>
    </accordion-group>

    <div class="panel panel-primary">
        <div class="panel-heading" data-ng-click="modelAddBlockField(model.content.pair_blocks)">
            <div class="row">
                <div class="col-xs-1">
                    <span class="glyphicon glyphicon-plus"></span>
                </div>
                <div class="col-xs-10"></div>
                <div class="col-xs-1"></div>
            </div>
        </div>
    </div>

</accordion>
